[2019-07-18 13:58] wwitzel3 opened #23 "Improve plugin module navigation"
Create helpers that ease the creation of navigation for plugins that are also modules. Plugin authors should not have to care about the internal details of our routing to enable navigation in their module plugin.

[2019-07-18 14:03] wwitzel3 opened #24 "Plugin handlers use a single response type."
Currently plugins have to return specific return types from each handler. Ideally a plugin handler would only need to return a single type of `*Response`.

[2019-07-19 21:41] wwitzel3 opened #30 "Improve plugin module content / routing"
Create an http handler compatible interface that allows for registering routes and content handlers for a module plugin.

Currently you must parse the content path and do all of your own dispatching inside of your `Content` handler method.

Maybe able to do at the same time as #23

[2019-07-19 23:33] wwitzel3 opened #32 "User can add context from frontend"
Allow a user to add a context from the frontend.

[2019-07-19 23:34] wwitzel3 commented on #32
@bryanl commented:

Holding off on this, as it adds complexity that may not be necessary. Using `kubectl`, you can merge contexts and present one to the tool.

e.g.
[code]

[2019-07-19 23:37] wwitzel3 opened #33 "Namespace on start might not always be default"
@GuessWhoSamFoo commented on [Fri Jun 28 2019](https://github.com/heptio/developer-dash/issues/851)

When running octant against a namespace on a DECC cluster, there is a case where the user does not have access to the default namespace. This results in a lengthy error output for each group.
[code]

After switching namespace on UI, octant updates and removes default from dropdown.

![image](https:

[2019-07-19 23:40] wwitzel3 opened #34 "Link config maps and secrets to pods if referenced in their configuration in resource viewer"
@bryanl commented on [Mon Feb 18 2019](https://github.com/heptio/developer-dash/issues/515)

Introduce config maps and secrets to resource viewer by updating the visitor to check pds for references to config maps and secrets.

[2019-07-19 23:41] wwitzel3 opened #35 "UI Guided App Creation with YAML export for repeatability"
@xstevens commented on [Mon May 13 2019](https://github.com/heptio/developer-dash/issues/783)

This morning I had shared some thoughts in Slack and we wanted to document those here.

It would be nice from a developer's standpoint to be able to easily craft all the resources needed for an app with the UI's assistance. In this regard it might have similar goals as AWS console.

The killer feature th

[2019-07-20 01:18] wwitzel3 opened #36 "Dark theme"
Enable a dark theme option.

[2019-07-20 01:50] wwitzel3 opened #38 "Investigate dropping polling"
@bryanl commented on [Mon May 27 2019](https://github.com/heptio/developer-dash/issues/795)

Polling is hard due to pile ups. Instead of polling, the frontend should register its current context (e.g. viewing a list of lists, viewing a list, viewing an object), and send changes only when there is an update.

This would require additional changes:

* timestamps should autoincrement in the front end

[2019-07-20 01:50] wwitzel3 opened #39 "Show load on control plane"
@bryanl commented on [Mon May 27 2019](https://github.com/heptio/developer-dash/issues/796)

To aid with debugging, it would be helpful to show the load the dashboard is creating on the backend. It should be possible to show watches, what's being watched, and informer status.

[2019-07-20 01:51] wwitzel3 opened #40 "Provide viewers for well known annotations"
@bryanl commented on [Tue Mar 26 2019](https://github.com/heptio/developer-dash/issues/643)

Provide viewers for well known annotations. This could make viewing annotations more friendly to the user

Potential annotations:

* kubectl.kubernetes.io/last-applied-configuration: This will always be JSON. The frontend will have a highlighter, so there could be a hint to display this as formatted JSON.

[2019-07-20 01:52] wwitzel3 opened #41 "Initial load is too slow"
@bryanl commented on [Mon May 27 2019](https://github.com/heptio/developer-dash/issues/799)

Initial load time is too slow. In the browser it can take upwards of 30 seconds to display the dashboard.

---

@wwitzel3 commented on [Wed Jun 05 2019](https://github.com/heptio/developer-dash/issues/799#issuecomment-499207813)

thought, decouple the loading of the initial objects from the generation of t

[2019-07-20 01:53] wwitzel3 commented on #41
Investigate performing the initial load using direct client calls and then switching subsequent calls over to using the informer backed store.

[2019-07-20 01:54] wwitzel3 opened #42 "Consolidate object printers"
@bryanl commented on [Fri Mar 22 2019](https://github.com/heptio/developer-dash/issues/636)

Since printers are starting to form a shape, it should be possible to refactor all the printers
and reduce them to a configuration.

There are two types of printers:
* list of objects
* objects

## list of objects

List of objects comprises of a table with column and rows. This may be able to stay the same

[2019-07-20 01:56] wwitzel3 opened #43 "Octant Status View"
Surface the status of Octant, starting with logging information to the user in the UI.

[2019-07-20 01:58] wwitzel3 opened #44 "objectNotFound should be objectDeleted"
@mdaverde commented on [Thu May 02 2019](https://github.com/heptio/developer-dash/issues/770)

This is in reference to the events coming in from the EventSource stream:

`objectDeleted` fits the warning we give to the user: `Kubernetes object was deleted from the cluster.`

It also seems like the server sends a redirect path. We should consider just bumping the user up to a valid parent navigation

[2019-07-20 01:59] wwitzel3 opened #45 "Investigate converting octant to kubectl plugin"
@bryanl commented on [Fri Apr 19 2019](https://github.com/heptio/developer-dash/issues/756)

When sugarloaf is released, enable it to be run as a kubectl plugin.

- [ ] investigate running dash as a plugin (should only require a binary name `kubectl-sugarloaf`
- [ ] figure out how krew works and create a plan for managing octant with krew
- [ ] Update documentation for install octant with krew and

[2019-07-20 01:59] wwitzel3 opened #46 "Plugins registered with same GVK is duplicated"
@GuessWhoSamFoo commented on [Tue May 14 2019](https://github.com/heptio/developer-dash/issues/786)

Current behavior:

After duplicating the plugin stub with different text, it registers twice to show two identical tabs.

![multiple-plugin](https://user-images.githubusercontent.com/10288252/57707123-eb933b00-761b-11e9-841d-e70521dd6caa.gif)

Expected behavior:

Installing a new plugin should not

[2019-07-20 02:00] wwitzel3 opened #47 "Port forward list should contain namespace"
@bryanl commented on [Fri May 31 2019](https://github.com/heptio/developer-dash/issues/808)

[2019-07-20 02:05] wwitzel3 opened #48 "Document contributing to the UI"
@mdaverde commented on [Mon May 13 2019](https://github.com/heptio/developer-dash/issues/782)

This can be part of overall contribution doc, but I wanted an issue to capture UI specifics. We should mention:

- Getting set up
- Overview of design
- Testing requirements of changes/new features

[2019-07-20 02:06] wwitzel3 opened #49 "Handle timeouts when contacting master"
@bryanl commented on [Mon May 27 2019](https://github.com/heptio/developer-dash/issues/793)

A slow control plane can result in timeouts. Currently we log a message to the console, but don't do anything else. The solution should inform notifying the user that the control plane is timing out. Also, the dashboard should be able to provide a better experience when these timeouts are occuring and resp

[2019-07-22 15:15] wwitzel3 opened #53 "CRDs disappear"
@mdaverde commented:

There's a long list of CRDs on initial load of the dashboard, but then a significant amount of them disappear after a few seconds. This is happening to me consistently when I start Octant.

[2019-07-22 15:19] wwitzel3 opened #54 "CRDs loading error"
@mdaverde commented on [Thu Jul 11 2019](https://github.com/heptio/developer-dash/issues/853)

When I click on a my CRD from the CRD list view, I see this in the terminal console:

[code]

Nothing in the UI console. This error causes the UI to hang, never going to the specific detail CRD page.

---

@bryanl commented on [Mon Jul 22 2019](https://github.com/heptio/developer-dash/issues/853#issuecom

[2019-07-22 15:20] wwitzel3 opened #55 "Catch "server is current unable to handle the request" errors and print something nicer"
@bryanl commented on [Tue Apr 16 2019](https://github.com/heptio/developer-dash/issues/731)

Error message looks like:

[code]

It should be possible to handle this error in a more graceful fashion

---

@wwitzel3 commented on [Wed Jun 05 2019](https://github.com/heptio/developer-dash/issues/731#issuecomment-499211597)

in the code that checks if a tab has an error, instead of skipping, add a comp

[2019-07-22 15:20] wwitzel3 commented on #55
We will create a component for errors that can be displayed in the Octant Status View

[2019-07-22 15:21] wwitzel3 opened #56 "Make it possible to make resource viewer the default view"
@bryanl commented on [Thu May 30 2019](https://github.com/heptio/developer-dash/issues/806)

Currently we are using the summary view as the default. Would it be possible to make the resource viewer the default in a configurable way?

[2019-07-22 15:26] wwitzel3 opened #57 "Handle invalid kubeconfig files"
@bryanl commented on [Wed Nov 21 2018](https://github.com/heptio/developer-dash/issues/252)

Handling invalid kubeconfig files:

* don't panic/exit on invalid kubeconfig files
* ensure log message generated includes the fact that there is an issue with the kubeconfig file
* send invalid kubeconfig status to frontend

[2019-07-22 15:27] wwitzel3 opened #58 "Link from ConfigMaps / Secrets to the workloads that reference them"
@shomron commented on [Tue Oct 23 2018](https://github.com/heptio/developer-dash/issues/112)

It would be useful to be able to navigate from a ConfigMap / Secrets view to the workloads (Deployments/Pods/etc) that reference them. If specific keys are referenced, navigating through the keys to a subset of the above could also be useful.

[2019-07-22 15:28] wwitzel3 opened #59 "Dashboard can become responsive when switching namespaces"
@bryanl commented on [Mon May 27 2019](https://github.com/heptio/developer-dash/issues/792)

Sporadically, the dashboard becomes unresponsive when switching namespaces. Need to dig in the causes why and figure out how to make it quicker.

[2019-07-22 15:39] wwitzel3 opened #60 "Proposal: cronjob descriptor for schedules"
@GuessWhoSamFoo commented on [Wed Dec 05 2018](https://github.com/heptio/developer-dash/issues/313)

For cronjob summaries, it would be nice to have a descriptor for schedule (e.g. `*/1 * * * *` - every minute) or show the next scheduled time to run.

[2019-07-22 17:47] mdaverde commented on #48
This issue can be closed unless we feel something is missing from this [README](https://github.com/vmware/octant/tree/master/web).

We should consider linking to this from the main README.

[2019-07-22 17:53] wwitzel3 commented on #54
@mdaverde we merged some things that adjusted our rate limiting and calls and things are loading much much faster now and I'm not seeing these types of errors like I was before. Would you mind re-testing this and seeing if they've cleared up for you as well?

[2019-07-22 17:56] bryanl opened #62 "Resource viewer doesn't link all objects"
In some cases, the resources viewer doesn't link all objects. I am currently investigating why this happens.

[2019-07-22 18:06] wwitzel3 opened #63 "Succeeded pods should link from Jobs"
@GuessWhoSamFoo commented on [Fri Apr 12 2019](https://github.com/heptio/developer-dash/issues/719)

![image](https://user-images.githubusercontent.com/10288252/56055136-98248900-5d0d-11e9-9d16-41ef15368554.png)

Although succeeded pods may be skipped in overview, they should be linked from job especially for logging purposes.

[2019-07-22 18:06] wwitzel3 opened #64 "What happens when portfowarder loses connection"
@bryanl commented on [Tue Apr 16 2019](https://github.com/heptio/developer-dash/issues/732)

There should be some indication to the user that the port forward connection has been lost.

[2019-07-22 18:07] wwitzel3 opened #65 "Update dashboard client to new version"
@bryanl commented on [Sat Sep 22 2018](https://github.com/heptio/developer-dash/issues/11)

The dashboard client should be able to check if it is outdated, and update itself to the current version.

[2019-07-22 18:09] mdaverde commented on #54
I'm still seeing these logs come through, but the UI is now resolving. We can close this issue and I'll file more specific breaking issues. Thanks

[2019-07-22 18:10] wwitzel3 commented on #41
@bryanl I think #51 has solved this in the original spirit of this issue and we should open more specific performance issues as needed.

[2019-07-22 18:33] wwitzel3 opened #66 "Event viewer should support node events"
@bryanl commented on [Wed Apr 17 2019](https://github.com/heptio/developer-dash/issues/741)

[2019-07-22 18:34] wwitzel3 opened #67 "Write up UI e2e smoke test"
@mdaverde commented on [Mon May 13 2019](https://github.com/heptio/developer-dash/issues/781)

The unit tests and integration tests are fulfilling the role of testing the internal logic of the Octant application.

The plan for this issue is to write up an E2E test that can smoke test the major features of Octant. Passing this in our CI/CD process tells us that we can standup the application and a

[2019-07-22 18:36] wwitzel3 opened #68 "Service accounts should show all applied and granted permissions"
@bryanl commented on [Tue Apr 16 2019](https://github.com/heptio/developer-dash/issues/730)

Currently only the granted permissions are shown

[2019-07-22 18:37] wwitzel3 opened #69 "Create set of resource YAML that can be used for testing"
@bryanl commented on [Wed Oct 03 2018](https://github.com/heptio/developer-dash/issues/42)

- [x] Cron job
- [x] daemon set
- [x] deployment
- [x] Job
- [x] Replica set
- [x] Replication controller
- [x] Stateful set
- [x] Ingress
- [x] Service
- [x] Config map
- [x] PVC
- [x] Secret
- [x] Role
- [x] Role binding
- [ ] Event?

[2019-07-22 18:41] wwitzel3 opened #70 "Show resources for pods / pod templates"
@bryanl commented on [Thu May 02 2019](https://github.com/heptio/developer-dash/issues/771)

Include:

- [] requests
- [] limits

---

@mdaverde commented on [Fri May 03 2019](https://github.com/heptio/developer-dash/issues/771#issuecomment-489091464)

Can we add labels/tags to these new issues? It's easier to organize the Zenhub board and see which areas need attention.

---

@bryanl commented on

[2019-07-22 19:00] bryanl commented on #41
@wwitzel3 true. closing this issue

[2019-07-22 19:00] #41 closed

[2019-07-23 15:57] hjacobs opened #72 "Infinite loading (only header shown), error "crd conversion failed: cannot convert int64 to float64""
Octant 0.4 does not load for me:

![Screenshot_2019-07-23_17-55-58](https://user-images.githubusercontent.com/510328/61727240-3eebdd00-ad73-11e9-8f40-5b4861d4b596.png)

Console is full of these errors:

[code]

[2019-07-23 16:00] rbankston opened #73 "Switching Namespace"
## Feature Request

Didn't see this listed anywhere and probably a nit on my part.  When switching namespaces while looking at a specific resource I would expect to stay on that resource but change the namespace or have the option to configure that somewhere.

## What Happened

With octant running and accessing [Service Accounts in the default namespace](http://127.0.0.1:51314/#/content/overview/n

[2019-07-23 16:43] wwitzel3 commented on #72
@hjacobs would you be able to provide the list of CRDs installed for this cluster? `kubectl get crds`

[2019-07-23 16:56] hjacobs commented on #72
Here the complete YAML dump: https://gist.github.com/hjacobs/9876005c325e18930992aa2bd2eaf7da

[2019-07-23 19:51] GuessWhoSamFoo opened #75 "Add homebrew install"
Xref: https://github.com/Homebrew/homebrew-core/pull/42319

- [x] 30 watches
- [x] 30 forks
- [x] 75 stars
- [x] Update readme

[2019-07-24 18:26] wwitzel3 commented on #72
@hjacobs I just merged #76 which will address part of the issue, instead of halting operations, octant will now log out the CRD it failed to parse and continue. This will be released as part of our upcoming 0.4.1 release which is scheduled for Monday.

[2019-07-24 18:34] wwitzel3 opened #79 "improve CRD error handling"
When an error is encountered listing and reading CRDs we can check the status of the CRD and surface the conditions along side the error message in the status view.

related #72

[2019-07-25 21:22] bryanl commented on #73
@rbankston #80 has been merged to handle this. The behavior is now as you describe.

[2019-07-25 21:22] #73 closed

[2019-07-26 13:36] GuessWhoSamFoo opened #83 "Resource viewer loads forever for sidecar containers"
Example config:

[code]

[2019-07-28 01:08] bryanl commented on #83
I'm looking at this in our 1.15 / resource viewer branch, and I'm not seeing it as broken:

![Screenshot from 2019-07-27 18-04-45](https://user-images.githubusercontent.com/240/62000942-19bfdd00-b099-11e9-823d-c0ab8b823c38.png)

Could you try this with the code in #85? I did see another issue:

![Screenshot from 2019-07-27 18-06-23](https://user-images.githubusercontent.com/240/62000946-4ecc2f80-b

[2019-07-28 14:48] bryanl opened #86 "Linking to unsupported objects"
There is a cohort of objects that Octant doesn't support (e.g. `apps/v1 ControllerRevision`). If they show up in the resource viewer, there is no way to link to them since there is no dashboard view for them. There needs to be a way to handle this case. There are a few options in this case.

1. Add these objects to the dashboard. Then they can be linked. The issue here is they might not be useful

[2019-07-29 01:43] GuessWhoSamFoo commented on #83
This will be fixed via #85. I'll take a look to see if fixing containers can be squeezed in before 0.4.1

[2019-07-29 16:39] wwitzel3 commented on #86
`apps/v1 ControllerRevision` is an example of an object that doesn't really provide a lot of useful information with respect to the resourceviewer view. The information from that object seems more appropriate for a status / detail view.

[2019-07-29 16:54] #83 closed

[2019-07-29 17:49] bryanl commented on #86
I propose we don't visit these. The object visitor could be updated to never visit these objects.

[2019-07-29 19:05] #47 closed

[2019-07-29 19:06] #62 closed

[2019-07-31 14:54] wwitzel3 opened #94 "Remove the Watch store."
Remove the Watch store and only have ObjectStore. This will help improve overall performance and memory usage.

[2019-08-01 11:29] wwitzel3 commented on #86
@bryanl and I chatted about this and we are going to create a GVK allowed list as an initial step.

[2019-08-01 16:39] #94 closed

[2019-08-04 12:59] bryanl opened #100 "Pod should report which node it runs on"
In the pod summary view, show the node it runs on.

[2019-08-04 13:00] bryanl opened #101 "Deployment should differentiate init containers"
Initi containers in pods are labeled as such. Deployment should work the same way.

[2019-08-05 21:17] #48 closed

[2019-08-05 21:18] #86 closed

[2019-08-05 23:18] GuessWhoSamFoo opened #109 "Repo handling of generated fakes"
There are several places tracking directories from mockgen (`.gitignore`, `.dockerignore`, `Makefile`). Makefile should be able to get a list of them and have documentation on places that needs to update if those paths change.

[2019-08-06 17:33] wwitzel3 commented on #58
duplicate of #34

[2019-08-06 17:33] #58 closed

[2019-08-06 17:35] wwitzel3 commented on #68
Similar to `kubectl can-i`

[2019-08-06 17:39] wwitzel3 commented on #100
Status => Node (link to node)

[2019-08-06 17:43] wwitzel3 commented on #38
We need a way to detect the change on the backend so we can signal the frontend.

[2019-08-06 17:47] wwitzel3 commented on #60
Consider using text w/ markdown to implement this?

[2019-08-06 17:49] wwitzel3 commented on #67
First step would be to identify what we want to include in this test. The items should be very simple to start with.

[2019-08-06 17:50] wwitzel3 commented on #66
We do not have an event viewer for non-namespaced items. We currently only search for event in a namespace.

[2019-08-06 18:01] wwitzel3 opened #110 "Context switcher registers stream with wrong key."
uses `kubeContext` , should use `kubeConfig`

[2019-08-06 18:27] wwitzel3 opened #112 "Update octant-dashboard to project-octant"
https://github.com/vmware/octant/search?q=octant-dashboard&unscoped_q=octant-dashboard

[2019-08-06 18:57] #112 closed

[2019-08-06 18:57] #110 closed

[2019-08-06 18:57] wwitzel3 commented on #110
fixed by #111

[2019-08-06 20:59] hjacobs commented on #72
0.5.1 crashes again for me :disappointed:
![Screenshot_2019-08-06_22-57-27](https://user-images.githubusercontent.com/510328/62576778-cbcb8600-b89d-11e9-9c88-a737a02ccc45.png)

[2019-08-07 11:38] bryanl opened #116 "Delete port forwards when a pod is deleted"
When a pod is deleted, shutdown the port forwards

[2019-08-07 11:42] bryanl opened #117 "If a CRD is deleted, stop it's watcher"
When a CRD is deleted, the following is printed to the stderr

[code]

[2019-08-07 11:47] bryanl opened #118 "Object status for pods should take conditions into account"
Object status for pods should take object status into account. If a condition's
status isn't true, add this to the pod's object status details and update
the current status as appropriate.

For example:

If a pod is failing its readiness check, the status for the pod should be warning, and there
should be a detail explaining this.

If a pod is failing its liveliness check, the status for the pod s

[2019-08-07 13:29] alexbrand opened #119 "Add loading indicator (or spinner) while loading resources"
When loading resources from the backend, the UI shows an empty list/table. This could be confusing as it is not clear whether Octant is loading the list of resources or if there are indeed no resources in the cluster.

Screen capture:

![octant-loading](https://user-images.githubusercontent.com/545723/62626633-cf8af700-b8f5-11e9-8954-02706bf7687e.gif)

[2019-08-07 14:00] wwitzel3 commented on #119
I think having the default data icon be a spinner until the first response / stream from octant to the UI happens is a good idea. As you mention, this would at least signal that there are no resources of that type.

[2019-08-07 16:01] jonmoter commented on #72
I get the same SIGSEGV with v0.5.1 on a cluster that has CRDs installed on it. Same errors and stacktrace, though different CRDs.

Full output when I run the CLI:
[code]

[2019-08-07 16:01] Tombar opened #123 "kafkaconnects.kafka.strimzi.io: crd conversion failed: cannot convert int64 to float64"
Hello, I was trying `octant` and it failed in one of our cluster where we are using https://github.com/strimzi/strimzi-kafka-operator

[code]

Not sure what else to add, but happy to try new versions out or provide more feedback

[2019-08-07 16:15] wwitzel3 commented on #123
Thank you for reporting this. This is a more generic problem with some CRDs. We have this issue re-openend at #54

[2019-08-07 16:15] #123 closed

[2019-08-07 16:16] wwitzel3 commented on #123
Sorry, issue #77

[2019-08-07 16:16] wwitzel3 commented on #123
Sorry, #72

[2019-08-07 16:17] #54 closed

[2019-08-07 17:19] wwitzel3 commented on #72
A partial fix (#124) for this was merged in that will allow octant to continue, similar to the previous fix. If you have time and are will, you can build from the latest master and octant should not crash anymore.

This fix does not address the conversion error itself, you will still see those errors logged out to the console.

[2019-08-07 17:25] wwitzel3 opened #125 "Extend plugin API to observe object lifecycle"
Extend the plugin API to allow for observing an object lifecycle as it mutates in a cluster.

[2019-08-07 17:27] wwitzel3 commented on #59
The latest round of performance enhancements have made this "good enough". We will open more targeted tickets around performance as needed.

[2019-08-07 17:27] #59 closed

[2019-08-07 17:27] bryanl commented on #125
I'd like to unpack this a bit. First things first, we will need to figure out how to observe an object's lifecycle. This should be as simple as putting a watch on the object, and detecting changes. 1) How would we represent these changes? 2) Is this the right level for solving the problem?

[2019-08-07 17:59] geekdave opened #127 "Document Differences From official Kubernetes Dashboard"
Thanks for contributing this project to the community!  As a newcomer to k8s, my initial first question was: "how is this different from the official kubernetes dashboard?"  (https://github.com/kubernetes/dashboard) - Might it be possible to include a brief blurb in the README calling out the similarities/differences?

[2019-08-07 21:21] jipperinbham opened #130 "switching clusters causes crash"
[code]

When I use the cluster drop-down to switch clusters, it causes octant to go into an error loop when trying to retrieve the REST mapping for the new cluster because the CRD that was in the original cluster doesn't exist in the newly selected cluster.

[2019-08-07 21:26] jonmoter opened #131 "Feature request: ability for octant to impersonate another user"
As someone who administers kubernetes clusters, when I use `kubectl` I have relatively high permissions. I have some aliases set up so I can execute `kubectl --as=${LIMITED_USER} ...` to take advantage of [user impersionation](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#user-impersonation), and run most commands as a lower-privileged user.

It would be nice to have a me

[2019-08-07 22:59] JoeJasinski opened #132 "Octant crashes in Ubuntu on initial browser load: runtime error: invalid memory address or nil pointer dereference"
I tried using Octant 0.5.1 on Ubuntu 16.04 and got the following error when the octant loaded the browser (Firefox 68.0.1). I tried using both the Linux-64bit tar.gz download file and the .deb package; both resulted in the same error below. I also tried with Octant 0.5.0 with the same result. I don't know that it matters, as these seem to be compiled binaries, but I have installed Go 1.11.5.

[cod

[2019-08-08 01:48] phenixblue commented on #72
Ditto for me as well. The offending CRD's Octant complains about seem to be these:

- sinks.apps.pivotal.io
- sinks.apps.pivotal.io

This was on a cluster provisioned by PKS v1.4.1

[2019-08-08 03:28] warmchang opened #134 "Feature request: Octant can be deployed in kubernetes cluster"
First of all, thanks to the developers of Octant.

Does the development team have plans to deploy Octant in the kubernetes cluster, the same as the kubernetes/dashboard?

[2019-08-08 03:28] cdan opened #135 "Feature request: Terminal connect to running container"
Thanks for this great tool!
Is it possible to add a terminal tab to connect to running container to execute some scripts inside?

[2019-08-08 08:29] faheem-cliqz commented on #72
Same happens for me on version 0.5.1
The crds in question are from kubeflow

[code]

[2019-08-08 09:01] gitirabassi opened #136 "Docker image not provided"
From the `examples/in-cluster/kustomization.yaml` there is a reference to `harbor.bryanl.dev/test/octant` which doesn't work, I'm assuming this is an internal/private registry

Can an image be built and tagged on a docker Hub or Quay as part of the release process?

[2019-08-08 09:16] hameno commented on #79
Are errors like this are covered by this ticket?
[code]

[2019-08-08 09:39] tomweston commented on #134
@warmchang Please see [examples](https://github.com/vmware/octant/blob/master/examples/in-cluster/) for in-cluster deployments. However, you will be required to build and publish your own Docker image as the one referenced in the `kustomization.yml` is not public.

Im working on a Helm chart for this, but have been super busy this week.. Will keep you posted 😀

[2019-08-08 09:54] sysadmiral commented on #72
Fails with the spark operator CRD too in version `0.5.1`.

`sparkapplications.sparkoperator.k8s.io`

[2019-08-08 10:24] warmchang commented on #134
@tomweston thank you! :smile:

[2019-08-08 12:16] #100 closed

[2019-08-08 16:32] isdzulqor commented on #72
install on my Mac and got the same issue ```➜  octant_0.5.1_macOS-64bit ./octant                                                                                                                                                                                             (2) 23:17:45
2019-08-08T23:25:37.317+0700	INFO	module/manager.go:75	registering action	{"component": "module-manager", "actionPath"

[2019-08-08 16:41] phenixblue commented on #72
I'll add that I'm using a Mac as well. Confirmed with coworker using Windows that he does not see the same issue while using the same version of Octant and targeting the same cluster. I also confirmed that building from the latest master resolved the immediate crash and allowed me to use Octant. The offending CRD's from before we're missing from the list within the UI.

[2019-08-08 17:33] GuessWhoSamFoo commented on #136
This is in-progress and shouldn't be difficult to add into goreleaser.

It should be possible to build an image with the current Dockerfile and use it with kustomize as well.

[2019-08-08 18:12] lachie83 commented on #132
I'm seeing the same thing. What version of Kubernetes are you using @JoeJasinski?

I'm experiencing the same issue on v1.16.x. I have tested on a 1.14.x cluster and it does NOT give me this error.
[code]

[code]

[2019-08-08 18:26] alexbrand opened #139 "Feature request: Page that shows user's RBAC permissions (kubectl auth can-i equivalent)"
Octant could have a view that displays the current user's RBAC permissions on the cluster.

Conceptually, this is similar to `kubectl auth can-i --list` command.

Prior art:
- https://github.com/jasonrichardsmith/rbac-view
- https://github.com/team-soteria/rback
- https://github.com/corneliusweig/rakkess

[2019-08-08 18:37] munnerz commented on #72
I suspect that this is due to the CRDs in question specifying `float` values, which according to the API conventions should not be used:

https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#primitive-types

[2019-08-08 20:11] GuessWhoSamFoo commented on #132
Can't seem to reproduce this with 0.5.1

[code]

[2019-08-08 21:09] pdbogen commented on #134
It'd be nice if octant supported in-cluster config (https://github.com/kubernetes/client-go/tree/master/examples/in-cluster-client-configuration) rather than _needing_ an explicit kubeconfig.

[2019-08-08 22:25] moderation opened #140 "Feature request: Display IngressRoute objects created by Heptio / VMWare Contour"
It would be great if "Discovery and Load Balancing" displayed IngressRoute objects created by the VMWare / Heptio Contour ingress controller. /cc @stevesloka

[2019-08-08 22:27] moderation opened #141 "Feature request: Disable cluster level menus and requests"
We run very restricted clusters where developers only have access to their own namespaces. Access to default or system namespaces is not allowed via RBAC. Similarly access to cluster information is all blocked.

Feature request is to provide a flag or configuration to disable "Cluster Overview" menu and requests.

Related: https://github.com/vmware/octant/issues/142

[2019-08-08 22:27] moderation opened #142 "Supplied initial namespace flag launches into 'default' namespace"
We run very restricted clusters where developers only have access to their own namespaces. Access to default or system namespaces is not allowed via RBAC. Similarly access to cluster information is all blocked.

When launching with `./octant -n specific-namespace-name` the browser launches to the URL `http://127.0.0.1:<port>/#/content/overview/namespace/default/?`. The expected behavior would be t

[2019-08-09 03:15] bryanl commented on #132
The code in question is

[code]

Looks like either `rawConfig` or `rawConfig.Contexts` is nil. I'm going to see if I can reproduce.

[2019-08-09 03:24] halkeye commented on #72
Seems totally reasonable. I'm throwing cephclusters out into the list.

[code]

[code]

[code]

[2019-08-09 06:39] lvnilesh opened #143 "crd conversion failed: cannot convert int64 to float64"
Thanks for octant. It was running nice :) but then I did this.

    jx install

now octant crashes like this.

[code]

[2019-08-09 09:26] sysadmiral commented on #72
I'm no Go expert but following @munnerz suspicion I had a look at the crd.go files for the Spark Operator we have deployed and can confirm it contains lots of float64 values in the spec. One example:

https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/0d21aed3ab5f10fc71d12d93f3449746a78933d4/pkg/crd/sparkapplication/crd.go#L92

[2019-08-09 09:43] denis-cq commented on #143
same error with rook crd:

2019-08-09T12:42:04.884+0300	ERROR	navigation/navigation.go:125	cephclusters.ceph.rook.io: crd conversion failed: cannot convert int64 to float64
github.com/vmware/octant/pkg/navigation.CustomResourceDefinitions
	/go/src/github.com/vmware/octant/pkg/navigation/navigation.go:125
github.com/vmware/octant/pkg/navigation.CRDEntries
	/go/src/github.com/vmware/octant/pkg/navig

[2019-08-09 11:09] gitirabassi commented on #136
can I provide some help?

[2019-08-09 11:59] bryanl commented on #72
closing in favor of #143

[2019-08-09 11:59] #72 closed

[2019-08-09 12:00] bryanl commented on #79
closing in favor of #143

[2019-08-09 12:00] #79 closed

[2019-08-09 12:01] bryanl commented on #143
I've identified the cause of this issue. In client-go, there is no code for converting an int64 to float64 when using the unstructured object converter. The fix in #145 vendors a patched version of the converter that handles the use case.

[2019-08-09 13:18] mikebryant opened #147 "Doesn't appear to support multiple kubeconfig files"
We use multiple kubeconfig files, by setting the environment variable `KUBECONFIG`

e.g. `KUBECONFIG=/home/m/.kube/config:/home/m/shared/kubeconfig`

octant should honour this and merge the files together, using the same semantics as kubectl does

[2019-08-09 13:24] bryanl commented on #147
This is something that was considered before. I'm not sure when this will be prioritized, but you can flatten your configs for use with Octant by running

[code]

(i use fish, but translating this to bash or zsh shouldn't be difficult. Would calling this out in the readme help in the short term?

[2019-08-09 13:27] bryanl commented on #147
Actually, after taking a look at the source, this feature doesn't look hard to implement. We can get it in the next release.

[2019-08-09 13:30] mikebryant commented on #147
Wow, quick response. Thanks for the heads up, I'll hack a merged one together for now. :)

[2019-08-09 16:50] bryanl commented on #131
Would it be possible to create another user that has readonly permissions? Then you can configure them both in your kube config file and change contexts as needed.

[2019-08-09 16:53] bryanl commented on #141
Hi, can your users see nodes? You can always collapse the menu. Perhaps we could explore this as a configuration option, but we would need to think through it since there is useful items in there. I brought up nodes because pods have a link to the node they run on.

[2019-08-09 16:54] bryanl commented on #130
Hi. I was able to duplicate this. We will be working on a change that will be in our next release.

[2019-08-09 16:55] bryanl commented on #132
We have a fix in master right now. This update will be in our next release (~August 20)

[2019-08-09 17:21] jonmoter commented on #131
I have a ClusterRoleBinding like this set up:

[code]

So I can say `kubectl --as readonly ...` and all is good in the world.

But that user doesn't have have an entry in our OIDC identity provider; doesn't have a username/password, etc.  There's no way to authenticate as the `readonly` user. And if I want to configure by kubeconfig file, I need to have some way of authenticating as that user.

I

[2019-08-09 17:22] lachie83 commented on #132
Thanks for the quick turn around @bryanl. Can you link the PR? I would like to take a look. I'll try building from master to test as well

[2019-08-09 17:33] bryanl commented on #132
https://github.com/vmware/octant/pull/144

This will change before we release 0.6, because I want to support contexts like `kubectl` does, but this is the gist.

[2019-08-09 17:34] #53 closed

[2019-08-09 17:35] #101 closed

[2019-08-10 02:31] soggiest opened #149 "Verbosity count isn't working as expected"
I'm seeing the following behavior from the Release v0.5.1 binary:
[code]

[2019-08-10 12:16] MOZGIII opened #150 "Configuration is not loaded properly"
I got this error:
[code]

Context for my `c1` cluster is defined at a separate file, and it's referenced via `KUBECONFIG`:

[code]

`kubectl` wotks properly with this setup.

[2019-08-11 12:46] Nodraak opened #152 "Octant loading forever if not accessed from localhost (OCTANT_LISTENER_ADDR)"
I wanted to run octant on my Kubernetes cluster and access the web ui from my dev laptop.

I set `export OCTANT_LISTENER_ADDR="0.0.0.0:8000"`, run `octant` (output looks fine) and open my browser at `http://$my_cluster_ip:8000`.

Octant starts loading html and css, but does not show any data. It appears to be due to the URL `/api/v1/content/overview/namespace/default/` returning a 403 Forbiden.

N

[2019-08-11 17:15] zigmund opened #153 "invalid memory address or nil pointer dereference after cluster change"
I have 5 cluster (contexts) in kubeconfig.

Started octant 0.5.1, changed cluster via top-right menu. Octant crashed in a few seconds.

Got few times in logs:
[code]

And finally:
[code]

Environment:
[code]

[2019-08-11 22:51] wsandin commented on #69
I can help with this, if still needed.

[2019-08-11 22:53] bryanl commented on #69
@wsandin Sure! This would be very helpful

[2019-08-12 03:35] doracl commented on #152
+1

[2019-08-12 06:10] GuessWhoSamFoo commented on #136
@gitirabassi Sure thing! We love to get a PR that builds a docker image in the release process. (And get some feedback/docs about running CI for forks as well). Then I can figure out the remaining piece on which image registry and where credentials should live.

[2019-08-12 10:57] wsandin commented on #69
So if I understand correctly, we still need (Ingress|ConfigMap|Secret|Role|Role Binding|Event) and not the already ticked ones. Can you assign me this issue?

[2019-08-12 13:47] bryanl opened #154 "Environment variable values aren't showing in container viewer"

[2019-08-12 13:49] bryanl opened #155 "Delete pods from within Octant"

[2019-08-12 13:51] bryanl opened #156 "Show image manifest for containers"
Show image manifest for containers, so users can know exactly which
image they are running. This will be helpful if you are using
images with `latest` tag.

[2019-08-12 14:27] wwitzel3 commented on #69
@wsandin yeah the already checked ones we have example YAML for, but it may be good to give them a review while we are adding the new ones.

[2019-08-13 14:31] dfang opened #160 "[Enhancements] show all namespaces in cluster overview"
It would be nice to show namespaces list in cluster overview

[2019-08-13 14:59] #152 closed

[2019-08-13 18:01] skriss opened #162 "pod logs: can't scroll up after scrolling to bottom"
When viewing pod logs, if I scroll all the way to the bottom of the logs, the UI doesn't then let me scroll back up towards the top. If I only scroll partially down, I can scroll back up just fine.

I'm on macOS mojave and using chrome.

[2019-08-13 18:04] moderation commented on #141
Users cannot see nodes. My concern with having this menu enabled is that when  developer clicks it  it may SPAM our auth system that makes additional calls to external systems unnecessarily.

[2019-08-13 20:41] wwitzel3 commented on #117
Right now in dynamic_cache.go, currentInformer we create all of the informers using the `dc.stopCh`. To enable this behavior octant will need to create and store a stop channel for each informer created for a given GVR.

Octant can then lookup the stop channel of an informer for a given GVR and then send the singnal to the stop channel.

[2019-08-13 20:58] wwitzel3 commented on #162
I wasn't able to replicate this with FF or Chrome under Ubuntu are you able to create a gif of the problem? Also would you mind checking the browser console for any errors and pasting those as well? Thank you.

[2019-08-13 21:17] skriss commented on #162
Seems like it only occurs if I first navigate to "Resource Viewer" for a pod, then to logs after that. I'll get a gif recorded

[2019-08-14 06:17] zetaab commented on #136
there are some problems with docker:

[code]

1) we should be able to disable xdg-open when running inside docker
2) dashboard port is randomly chosen? Its difficult to forward port if its random. I tried to use --ui-url parameter but it does not display anything (perhaps because of xdg-open?)

[2019-08-14 09:25] dideler commented on #75
More than 30 watchers now ;)

[2019-08-14 09:58] 3r1co commented on #134
Hello,
we're facing the same issue and I wrote the little helper script below that uses the service account credentials before starting Octant. For sure the in-cluster config would be much better, but just for playing around it worked also like that :)

**launch.sh**
[code]
**Dockerfile**
[code]

[2019-08-14 10:48] bryanl opened #163 "Better support for CronJob/Job"
Jobs work with ephemeral pods. To support these better, show terminated pods for jobs (and in general)

[2019-08-14 10:49] #143 closed

[2019-08-14 10:49] #24 closed

[2019-08-14 10:49] #23 closed

[2019-08-14 10:50] #30 closed

[2019-08-14 11:41] wwitzel3 commented on #162
@nfarruggiagl can you take a look at this and see if you can replicate and fix?

[2019-08-14 12:15] bryanl commented on #132
#164 adds supports to handle contexts like `kubectl` does.

[2019-08-14 15:15] nfarruggiagl commented on #162
Sure @wwitzel3 I will take a look!

[2019-08-14 17:29] bryanl commented on #57
With #164, octant now uses client-go's code paths for handling kubeconfig files. So this means that octant would do the same thing kubectl would do ie. error?

[2019-08-14 17:32] wwitzel3 commented on #57
Closing. That is the correct behavior when getting an invalid kubeconfig.

[2019-08-14 17:32] #57 closed

[2019-08-14 17:33] wwitzel3 commented on #147
Support for this has been merged to master and will be in the next binary release (est. Aug 20th)

[2019-08-14 17:33] #147 closed

[2019-08-14 17:36] wwitzel3 commented on #132
Thank you again for reporting this, closing this out. This issue is fixed in current master and will be available in the next binary release (~August 20th) as @bryanl mentioned.

[2019-08-14 17:36] #132 closed

[2019-08-14 18:06] wwitzel3 opened #166 "restarting octant with a new default namespace does not redirect the client"
if I have octant up in my browser and I restart octant with a new default namespace using `-n` the client stays on the previous namespace / URL and does not redirect to the new default.

[2019-08-14 18:07] wwitzel3 commented on #166
This was discovered while testing #165

[2019-08-14 19:30] Leluke opened #167 "Cant serve the dashboard over http (except for localhost)"
I have been trying to create a host machine that would serve the dashboard at some port so our devs could check our clusters using a single read only serviceaccount in this "bastion" for our clsuter.

I have managed to make the dashboard work locally only. I set up the .kube/config locally and started octant, and when I access 127.0.0.1:8900 I have access to the dashboard with all the resources li

[2019-08-14 19:57] wwitzel3 commented on #167
Thank you for reporting this, we are aware of this issue, this is a duplicate of the issue reported in #152 . We have merged a fix for this in master #158 and it will be in our next binary release which is currently scheduled for ~ August 20th.

[2019-08-14 19:57] #167 closed

[2019-08-14 20:57] wwitzel3 commented on #142
Thank you for reporting this issue. We have merged a fix in to master (#165) that will be available in the next binary release ~ August 20th.

[2019-08-14 21:06] alexbrand opened #168 "Improve namespace selection UX on clusters with a large number of namespaces"
Currently, a user can select the active namespace via a drop-down menu. In clusters with a large number of namespaces, it can be difficult to find the desired namespace in the list.

This issue is for improving that user experience. Perhaps exposing a way for the user to type the namespace in the drop-down.

[2019-08-14 21:08] moderation commented on #142
Fantastic. Thanks very much.

[2019-08-14 21:11] wwitzel3 commented on #168
The namespace drop down in Octant already allows you to type to filter the namespaces listed.
![octant-namespace-filter](https://user-images.githubusercontent.com/27317/63056655-7fdc9a80-beb6-11e9-94ba-bd7c4ffe6c78.gif)

[2019-08-14 23:49] JoeJasinski commented on #132
Thank you!

[2019-08-15 03:06] rootsongjc opened #169 "octant start failed: prowjobs.prow.k8s.io: crd conversion failed: cannot convert int64 to float64"
## Environment

MacOS Mojave version 10.14.6

**Kubernetes Verion**

- Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"darwin/amd64"}
- Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitComm

[2019-08-15 06:45] petermbenjamin commented on #149
The flag is defined as [`CountVarP`](https://github.com/vmware/octant/blob/7a9bf4545f1aa288932b521f8f73830224d3f53c/internal/commands/dash.go#L110) and this is being handled by `github.com/spf13/cobra` (more specifically `github.com/spf13/pflag` in cobra).

So, the following will work:
- shorthand: `./octant -vv`
- longhand: `./octant --verbosity=2`

I'll submit a PR to improve the help output to

[2019-08-15 10:52] bryanl commented on #169
Hello, this was fixed in #145 and will be a part of our 0.6 release.

[2019-08-15 10:52] #169 closed

[2019-08-15 11:33] alexbrand commented on #168
Ah! I was watching someone else using Octant so it is totally possible that I missed the fact that you can type there. I think we can close this then. Thanks!

[2019-08-15 11:33] #168 closed

[2019-08-15 13:59] bryanl commented on #119
There are multiple locations that should have spinners:

* in navigation
* described resources (i.e the lists you see in the dashboard)

I want to investigate solving them both. More details as I have them

[2019-08-15 19:50] bryanl opened #172 "Give user option to show empty section contents"
Add an option as a checkbox to show empty sections.

![Screen Shot 2019-08-15 at 3 47 05 PM](https://user-images.githubusercontent.com/240/63122302-5d10bb80-bf74-11e9-9a0f-925bf21db552.png)

[2019-08-15 19:58] wwitzel3 opened #173 "OCTANT_LISTENER_ADDR of 0.0.0.0 causes No contexts!"
When starting octant with `OCTANT_LISTENER_ADDR=0.0.0.0:3000` the browser is opened to `[::]:3000`
![Screenshot from 2019-08-15 15-56-06](https://user-images.githubusercontent.com/27317/63122661-44ed6c00-bf75-11e9-97a5-db0849c18203.png)
if I change the URL to `0.0.0.0:3000` the contexts load just fine
![Screenshot from 2019-08-15 15-57-28](https://user-images.githubusercontent.com/27317/63122725-6

[2019-08-15 20:14] #130 closed

[2019-08-15 20:15] bryanl commented on #149
We should document this. It is not obvious.

[2019-08-15 20:18] bryanl commented on #150
This issue has been resolved in #164. Please reopen if this is not the case.

[2019-08-15 20:19] bryanl commented on #153
This may have been caused because of a CRD bug. A fix is now in master #170

[2019-08-15 20:19] #153 closed

[2019-08-16 07:19] petermbenjamin opened #174 "octant hangs on remote, headless Linux servers"
When I run octact on a remote, headless server, octant hangs in the browser.

![GIF](https://user-images.githubusercontent.com/6811830/63150120-d6cb9800-bfba-11e9-998d-65a7d7d3d5c2.gif)

octant is launched with: `$ OCTANT_LISTENER_ADDR=0.0.0.0:8900 octant -vvv`

octant logs only show DEBUG and INFO, no ERROR or WARN (other than the expected `unable to open browser` because `xdg-open` is not found)

[2019-08-16 10:41] ogelbric opened #175 "External IP does not show"
When Issuing this command :
root@orfpks22 [ ~ ]# kubectl get services
NAME       TYPE           CLUSTER-IP      EXTERNAL-IP      PORT(S)        AGE
hackazon   LoadBalancer   10.100.200.51   10.197.104.167   80:30452/TCP   19h

the external IP is not shown in Octant
<img width="1422" alt="Screen Shot 2019-08-16 at 5 25 46 AM" src="https://user-images.githubusercontent.com/16323391/63162573-853a0200

[2019-08-16 17:31] rdelpret commented on #127
I think the kubernetes dashboard is deprecated because it uses heapster?

[2019-08-16 17:51] n3wscott opened #177 "Octant crashes if service does not exist."
Clicked on a CRD Object, UI hangs.

on version mac `0.5.1`.

Example error:

[code]

[2019-08-16 18:50] wwitzel3 commented on #174
You can add the `OCTANT_DISABLE_OPEN_BROWSER=1` flag to prevent the xdg-open error.

Also I believe this might be related to #152 (fixed in master). Our next release is ~ August 20th and will have that fix in it.

[2019-08-16 18:54] n3wscott opened #178 "Installing a plugin requires restart of main octant process."
I installed the sample plugin and it did not show up until I restarted.

[2019-08-16 18:59] n3wscott opened #179 "UI selects Tab 2 by default on navigation to example plugin page"
UI defaults to selecting `Tab 2` on example plugin after installing with `make install-test-plugin` and restarting `octant`.

[2019-08-16 19:04] n3wscott opened #180 "Plugin Capabilities are empty for example plugin"
The example plugin looks like it should have capabilities:

[code]

But the `Capabilities` column on the `#/content/configuration/plugins?` page is empty.

Is this expected?

[2019-08-16 19:13] n3wscott opened #181 "Extra Pod Details page is only viewable for 5 seconds."
To Repo:

1. Install the example plugin
1. navigate to the pod details page for a pod
1. click on `Extra Pod Details`
    - and the page is only visible for 5 seconds until the UI moves back to `Summary`

[2019-08-16 21:17] wwitzel3 commented on #180
Thank you for reporting this. This is a known missing feature from our plugin system that we plan to add in a later release.

[2019-08-17 19:46] bryanl opened #184 "Update store to return if object is found in a Get request"
`Get` signature is currently `Get(...) (*unstructured.Unstructured, error)`. There may
be an issue with the get request and there are multiple classes of errors. When an object
is not found, it should be obvious to the caller. I'm proposing that we change `Get` to
`Get(...) (object *unstructured.Unstructured, found bool, err error)`. With this change
the caller doesn't have to know anything about

[2019-08-17 19:49] bryanl commented on #135
This sounds like a great feature. The team is currently brainstorming how this would work. It's fairly complex as we don't currently have a terminal tab component.

[2019-08-17 19:53] bryanl commented on #127
(I'm not closing it because we should get this in a `FAQ.md`)

How does Octant differ from the Kubernetes dashboard?

* Octant does not run in your cluster (by default). It runs locally on your workstation and uses your kubeconfig files
* Octant has a resource viewer which contains a DAG that can link related objects
* Octant supports CRDs
* The dashboard functionality of Octant isn't the #1 prior

[2019-08-17 19:55] bryanl commented on #140
We most likely will never support Contour in the app itself. Since it is not part of Kubernetes core, it can be handled in a plugin.

[2019-08-17 20:02] bryanl opened #185 "Proposal: create a well defined port for the octant API"
Problem:

Octant starts its API on a random port on 127.0.0.1. This avoids potential conflicts. Giving Octant a well defined port number by default means that you could know what the port number is and restarts of the application wouldn't require the browser URL to change. I'm going to suggest two numbers for default ports:

* 102016 - date Heptio was founded
* 7777 - Kubernetes people seem to lik

[2019-08-17 20:03] bryanl commented on #109
I think we should document that fakes can come and go in the developer documentation. Might be easier than automating it.

[2019-08-18 04:32] GuessWhoSamFoo opened #186 "First navigation after viewing node does not load"
Loads after navigating to something else first:

![node-bug](https://user-images.githubusercontent.com/10288252/63220139-50d45c00-c136-11e9-9f8d-30454c6a9656.gif)

Tested on kind 0.4.0

[code]

[2019-08-19 00:31] bryanl opened #187 "Convert object printers to use dynamic objects"

[2019-08-19 03:07] nodesocket opened #188 "api/v1/content/overview/namespace/default/?poll=5 - 403 forbidden"
Just shows a loading progress bar across the top.

Running Kubernetes 1.13 and confirm I am able to run `kubectl cluster-info` and `kubectl get pods`. However when I bring up the octant web interface, it just shows the loading progress bar across the top in Chrome 76 on MacOS.

The only request in Chrome Developer tools I see failing is:

[code]

[2019-08-19 18:28] wwitzel3 commented on #187
#42 is this a duplicate? Or can they be merged?

[2019-08-19 18:29] GuessWhoSamFoo commented on #185
+1 for 7777 - easy to remember

[2019-08-19 18:35] wwitzel3 commented on #185
I like 8888 or 8088 only because octagon / eight theme

[2019-08-19 18:36] wwitzel3 commented on #185
I changed my mind, I actually like `7777` the best.

[2019-08-19 21:14] bryanl opened #192 "Retrieve/use CRDs from cluster as dynamic objects instead of converting them to typed objects"
Since Octant uses the dynamic client, we should work to remove unnecessary conversions to typed objects. The CRD is a good candidate to start with. This change should:

* Use the dynamic object directly when dealing with CRDs

[2019-08-19 21:55] #185 closed

[2019-08-20 15:25] bryanl opened #195 "Navigation generation can fail when custom resources can't be listed"
It should be able to generate overview and cluster overview navigation even when the user can't list custom resources. Currently, it will fail and you will get no menus.

[2019-08-20 17:17] wwitzel3 commented on #188
Thanks for reporting this @nodesocket

Can you provide some extra detail, this will help me with reproducing:
  * provide the command you are using launch Octant
  * which version of Octant are you running (0.5.1, master, etc..)
  * Can you add the `-v` flag when you launch Octant and provide the terminal output in a gist.

[2019-08-20 17:50] nodesocket commented on #188
Hi @wwitzel3.

[code]

Running with `-v`:

https://gist.github.com/nodesocket/bac50ccb67e70b0fc1cf5f0ad249338e

Screenshot of the UI with the 403 error:

<img width="1151" alt="Screen Shot 2019-08-20 at 12 49 20 PM" src="https://user-images.githubusercontent.com/523312/63371094-0a0a8000-c349-11e9-942a-082d1236bbe0.png">

[2019-08-20 18:17] wwitzel3 commented on #188
Thanks, this was helpful. We fixed #152 and added #194 which will be apart of the 0.6 release, which should be out later today.

Then you'll be able to set the `OCTANT_LISTENER_ADDR` and add any hosts  to the `OCTANT_ACCEPTED_HOSTS` list.

[2019-08-20 18:17] wwitzel3 commented on #188
See: https://github.com/vmware/octant/blob/master/docs/getting-started.md#environment-variables

For details on the available environment variables.

[2019-08-20 22:59] wwitzel3 commented on #162
Fixed #189

[2019-08-20 22:59] #162 closed

[2019-08-21 00:04] wwitzel3 commented on #119
This enhancement will be in our next release.

[2019-08-21 00:04] #119 closed

[2019-08-21 00:05] #33 closed

[2019-08-21 00:05] #186 closed

[2019-08-21 00:05] #175 closed

[2019-08-21 00:06] wwitzel3 commented on #67
what we have is good enough for now we can open new issues as we want to extend our e2e suite

[2019-08-21 00:06] #67 closed

[2019-08-21 00:06] #174 closed

[2019-08-21 00:07] wwitzel3 commented on #188
This is fixed in master and will be in our 0.6 release.

[2019-08-21 02:03] nodesocket commented on #188
@wwitzel3 so what should I set `OCTANT_ACCEPTED_HOSTS` to ? I enforce access control permissions at the firewall level.

[2019-08-21 02:29] wwitzel3 commented on #188
I think in this case, you'd set it `192.168.3.161`?

[2019-08-21 02:32] wwitzel3 commented on #188
Essentially you want it set to what ever the value of `request.Host` will be, so if you're doing any traffic re-writing or routing, you'll need to take that in to account.

[2019-08-21 07:48] PsychoSid commented on #152
I am still hitting this with v0.6.0 :(

[2019-08-21 12:00] willianccs commented on #152
Same here.

[2019-08-21 12:03] wwitzel3 commented on #152
Have you tried setting `OCTANT_ACCEPTED_HOSTS` to what ever the request host IP address is? This environment variable was added in 0.6

[2019-08-21 12:32] PsychoSid commented on #152
Ah. That works now. My bad. Sorry. Great work !

[2019-08-21 12:33] #188 closed

[2019-08-21 12:37] wwitzel3 opened #199 "0.0.0.0 accepted host does not accept all hosts."
The expected behavior would be that since `0.0.0.0` is allowed any `request.Host` would be allowed. `0.0.0.0` is common short hand for "all hosts in IPv4"

related #152 #188 #173

[2019-08-21 12:38] wwitzel3 commented on #152
I opened a new issue related to this, if you start Octant listening on 0.0.0.0 is should allow all hosts. See #199

[2019-08-21 12:39] wwitzel3 commented on #188
I opened a new issue related to this, if you start Octant listening on 0.0.0.0 is should allow all hosts. See #199

[2019-08-21 13:15] willianccs commented on #152
Thanks!

[2019-08-21 15:57] GuessWhoSamFoo commented on #75
Trying this again: https://github.com/Homebrew/homebrew-core/pull/43332

[2019-08-21 16:15] alexbrand opened #201 "Show pod status in Workloads / Pods view"
Kubectl seems to do some magic to show a "STATUS" of a given pod:

[code]

I was somewhat surprised when I used Octant to look at the same set of pods. This is what Octant shows:

![image](https://user-images.githubusercontent.com/545723/63448906-fd4f6000-c40c-11e9-9954-c75e39c5c342.png)

Notice how kubectl says the first pod is `Terminating` and the second is `ContainerCreating`, whereas Octant s

[2019-08-21 17:23] GuessWhoSamFoo commented on #199
Worked through a few cases using ngrok as an example where failures result in 403 seen in #188

1) Rewrite host header to octant's address when tunneling requests

Run octant on `localhost:7777` then set host header with the proxy `ngrok http 7777 -host-header="localhost:7777"`

2) Set the accepted host with octant

Start `ngrok http 7777`. Get the forwarding address then `OCTANT_ACCEPTED_HOSTS=2d

[2019-08-21 17:29] #173 closed

[2019-08-21 17:29] #199 closed

[2019-08-21 17:33] GuessWhoSamFoo commented on #188
@nodesocket Not sure if it helps, I wrote some notes https://github.com/vmware/octant/issues/199#issuecomment-523563021

[2019-08-22 16:28] willianccs commented on #195
Also is it possible to generate overview only with "list" permissions instead of "get" on cluster objects?

[2019-08-22 16:43] wwitzel3 commented on #195
Yes, that may be possible, we do actually check for list vs. get permissions when fetching resources, I think likely we have some nested calling that results in an error for list if a get call fails. We can look in to a better way to isolate these.

I do wonder what the user experience would be like to view a list of objects that you get a permission denied on when attempting to view them. That sh

[2019-08-22 18:51] ledor473 opened #204 "Allow the dashboard to be embedded in another program"
I started to check if it was possible to embed Octant inside another Go application but right now a large portion of the code sits inside the `internal/` folder which prevents it do be imported.

The goal would be to automatically start/stop Octant when starting something else. It would allow things like an embedded Octant inside a Grafana plugin for instance.

I think moving `internal/dash` to `p

[2019-08-22 18:59] bryanl commented on #204
While we determine what API stability looks like, we most likely won’t be moving anything else out of internal. What kind of app are you trying to embed it in?

[2019-08-22 19:31] wwitzel3 commented on #69
hey @wsandin wanted to check-in and see where you were at with this?

[2019-08-22 20:12] ledor473 commented on #204
I'm thinking of an application very similar to the `kubectl wrapper` presented in [Airbnb keynote during KubeCon 18](https://kccna18.sched.com/event/GsxY/keynote-developing-kubernetes-services-at-airbnb-scale-melanie-cebula-software-engineer-airbnb). It reduces the amount of typing needed to do common tasks, from `kubectl apply` to `helm upgrade`.
I feel that Octant would be a good candidate to bu

[2019-08-23 13:09] wwitzel3 opened #205 "Allow all environment variables to also be passed as flags."
Using https://github.com/spf13/viper

Octant can call `SetEnvPrefix` and `AutomaticEnv` to automatically map `viper.Get` calls to ENV variables that are upper case versions of our flag names.

This change has the added benefit of reducing the configuration surface area in the code. We can use `viper.Get` for all values - flags and ENV variables.

related #204

[2019-08-23 13:14] PsychoSid opened #206 "Namespace Dropdown Not Refreshed When Changing Cluster Context"
When running on a GKE environment with multiple clusters a single account that has all clusters available as contexts displays all the clusters in the context list fine.

However when switching to a new cluster/context the namespace list is not refreshed.

You can alter the URL manually and the resources do show but a message "The current set namespace is not valid" is displayed at the top of the

[2019-08-23 13:16] dlaidlaw opened #207 "Backoff on loss of credentials"
When octant connects to AWS EKS clusters, the AWS credential helper credentials can time out. Octant shows the following error when the credentials time out:

`E0823 10:07:33.212211    1799 reflector.go:125] k8s.io/client-go/dynamic/dynamicinformer/informer.go:90: Failed to list *unstructured.Unstructured: Unauthorized`

This error is repeated continuously in a very fast loop. Octant should back o

[2019-08-23 13:32] saichon64 commented on #118
I think that the object being made should be something wrong.
If correct, it will not be like this.
But if you want to edit, have knowledge

If you want a pod, you need to find an easier way.
Now I feel that I will use difficult methods to do.

If I had to correct it, would I have to fix it in the way that I had started from the beginning?
Now, solving this point, don't know how to get the result?

[2019-08-23 22:56] phenixblue commented on #69
Happy to help with this as well if needed

[2019-08-26 07:37] cdan opened #210 "Feature request: Add new cluster kubeconf to octant through API at running"
To support multiple clusters more gracefully, is it possible to add an API to enable user to add new kubeconf to octant at running status?

[2019-08-27 13:51] fabriziopandini opened #213 "Feature request: log search / filter"
As a developer, I look at logs all the time... it would be great to:
- be able to search for a specific text/regex inside logs
- filter logs lines for a specific text/regex (grep like)

It will be great also to have some text automatically highlighted like e.g. error, panic etc.

[2019-08-27 13:55] fabriziopandini opened #214 "Feature request: Warnings"
As a developer, I would like to get evidence of things that very likely are problems in my cluster e.g.
- restarting pods / not starting pods / evictions
- nodes not ready / not healthy

[2019-08-27 17:31] tvi opened #217 "crd spec did not have versions"
Hello,
I am testing octant and straight when I start it up i get following error:

[code]

I am not sure if its problem in my cluster.

[code]

[2019-08-27 17:50] wolfencom opened #218 "Gracefully handle access forbidden errors"
Currently when trying to cache data if access is denied to a resource the web UI will  hang while octant repeatedly tries to fetch this data. There should not be an assumption that all users will have access to all objects at either a namepace or cluster level scope. Access forbidden errors should be considered a permanent error and no more attempts made to collect this data until the user selects

[2019-08-27 18:12] aperullo opened #219 "[Enhancements] Add "All" namespace view"
Add the ability to see all resources in the cluster across all namespaces like the default kubernetes dashboard has:

![image](https://user-images.githubusercontent.com/18688190/63796445-160bba00-c8d4-11e9-8a87-6348555b5825.png)

This is a nice way to get a good view of the cluster over all. For example, If I am working to get something like the Rook operator working, which many of my other servic

[2019-08-28 06:53] ld-singh opened #223 "Feature to see previous logs for crashed pods"
It would be super helpful if we can see previous logs for pods in case they crash and restarts and will help in debugging a lot. It can be done with kubectl with --previous option

[2019-08-28 11:31] theneva opened #224 "Frontend linting is not run on CI"
Hi! 👋

It seems like the frontend's `lint` task is not run CI. As a result, there are multiple errors on master right now:

[code]

It took me a few minutes to figure out what was up, and this type of thing creates an artificial barrier to contributing, so I thought I'd raise an issue to see if it's intended :smile:

[2019-08-28 18:46] wwitzel3 opened #228 "Extract HasAccess from DynamicCache"
Create a way to store and access verb / resource permissions within a cluster. These values should make a best effort to be up-to-date with current cluster permissions (60 second sync timer?).

Ensure that callers of List/Get/Watch do not need to check for access first and that any action methods appropriately return errors when access is denied.

[2019-08-28 21:24] bryanl commented on #210
This should be possible. Our current limitation is a configuration editor that would allow you to add it. Also, we'd need to think through what would happen if you quit Octant. What would happen if you started it again?

[2019-08-28 21:25] bryanl commented on #219
Hi, thanks for the request. This would be an interesting addition, but we would need to change how Octant works to make this possible. I'll post back in here when I have some ideas on how we could accomplish this.

[2019-08-29 13:13] wwitzel3 opened #229 "Create store for internal errors."
Currently we log errors and continue. While working to implement #43 which streams errors to a statusview pane in octant, I discovered that things like closing and re-opening the browser window would result in the loss of the error messages being displayed, since that is the nature of streaming the messages.

Octant needs an error store that can hold errors that can be retrieved later. This store

[2019-08-29 20:34] #224 closed

[2019-08-29 21:05] #116 closed

[2019-08-29 21:05] #63 closed

[2019-08-29 21:06] #155 closed

[2019-08-29 21:08] #75 closed

[2019-08-29 21:41] wwitzel3 commented on #180
This is now fixed in master and will be in the next release.

[2019-08-29 21:41] #180 closed

[2019-08-29 21:42] #70 closed

[2019-08-30 03:02] isdzulqor opened #232 "Ablity to run in virtual machine"
Dear Octant Team,

Thanks for Octant! I recently attempted to install octant on my virtual machine which has no GUI. And I got this error
[code]
I hope octant is able to start on VM, not limited in GUI based
Thanks,

[2019-08-30 05:49] GuessWhoSamFoo commented on #232
Setting `OCTANT_DISABLE_OPEN_BROWSER` to a non-empty value when running octant should resolve this.

XR #174

[2019-08-30 14:03] bryanl opened #233 "Move namespace to query parameter"
In octant, for namespace scoped objects, the namespace is embedded in the
URL. This works well for namespace scoped paths, but causes uncertainty
when dealing with non-namespace scoped paths. (e.g. cluster over or
configuration or anything created by a plugin)

I'm proposing the namespace is moved out of the path to a query parameter.
If the query parameter will be named `namespace`. If it does no

[2019-08-30 18:34] bryanl opened #234 "Sort config map data by key alphabetically"

[2019-08-30 20:24] wwitzel3 opened #235 "Add a HACKING.md"
This should contain a 1,2,3 breakdown of how to get a dev environment for octant up and running and steps to verify everything is installed correctly and ready to begin development work.

[2019-08-31 01:29] phenixblue commented on #69
Looks like all of the objects listed have been covered now. Is there anything else needed?

[2019-08-31 01:35] #69 closed

[2019-09-01 01:07] mikeroySoft opened #236 "Preserve layout in Resource Viewer"
When troubleshooting services, I often times like to compare with the layouts of healthy services.

I like using the Resource View because I can drag things where I logically perceive them to be in the stack, which may be different than the initial layout.

However, once I leave that 'page', upon returning the layout is reset back to default.

It would be great if Octant would preserve the view I'

[2019-09-03 01:42] ylvmw opened #237 "No content displayed when setting OCTANT_LISTENER_ADDR=0.0.0.0:7777"
Steps:
1. Start octant with the command: OCTANT_DISABLE_OPEN_BROWSER=1 OCTANT_LISTENER_ADDR=0.0.0.0:7777 ./octant
2. Access it from the remote web  browser: http://<octant_host>:7777
3. Check the content

Expected:
Cluster contents could be displayed correctly

Actual:
On content displayed except the header.

[2019-09-03 06:03] tao12345666333 opened #238 "Wrong URL jump"
![2019-09-03-134337_2338x872_scrot](https://user-images.githubusercontent.com/3264292/64146820-ea974b00-ce50-11e9-83ab-4ffd6e512cd0.png)

My deploy has 3 replicas. Like this:

[code]

When I click the pod on the right, the URL will change to a wrong address.(from `work` namespace to `default` namespace)

![2019-09-03-134351_2386x747_scrot](https://user-images.githubusercontent.com/3264292/64146826

[2019-09-03 06:05] wanghaiqing2015 commented on #237
OCTANT_ACCEPTED_HOSTS=10.45.112.17 KUBECONFIG=/root/.kube/config OCTANT_LISTENER_ADDR=0.0.0.0:8900 octant

[2019-09-03 06:41] pvdvreede commented on #134
It would also be good if it can support forwarding a OIDC JWT passed in thru the `Authorization` header like the official k8s dashboard.

We use this method to integrate a user's access via our Org Auth system by putting a oidc client container in front that will get a JWT via OIDC and then just pass that thru on each request.

This means that the access level is dynamic per request so that people

[2019-09-03 11:52] wwitzel3 commented on #237
Hi @ylvmw we are aware of this current behavior. We have a fix merged in to master (https://github.com/vmware/octant/pull/200) that will be in the next release.

In the meantime, as @wanghaiqing2015 pointed out, you can explicitly set `OCTANT_ACCEPTED_HOSTS`

[2019-09-03 11:52] #237 closed

[2019-09-03 11:59] wwitzel3 commented on #236
I agree this would be nice.

We will need to look into how the window size and zoom level impact this. I do worry about preserving some location and then presenting the user with a blank view because they open a new browser or resize the pane.

We could have a reset button of some kind.

Maybe we could use the ID of the resource closest to the center of the screen and load the RV back to having th

[2019-09-03 12:02] wwitzel3 commented on #238
@bryanl do you think this might be fixed by the namespace / URL changes you've been working on?

[2019-09-03 12:04] bryanl commented on #238
Yes. Octant is changing to have a definitive source for the current namespace in any given context. This will be fixed in 0.7.

[2019-09-03 19:04] bryanl commented on #134
Octant requires the single auth to maintain the informers it uses to keep the frontend snappy. If we used a token per call, we couldn't take advantage of this.

[2019-09-04 00:27] pvdvreede commented on #134
Thanks for the quick reply @bryanl ! Thought it might be the case we couldn't do it, so thanks for confirming 👍

[2019-09-04 01:21] ylvmw commented on #237
Thanks @wwitzel3. Setting OCTANT_ACCEPTED_HOSTS didn't work for me.
When would the next release probably be published?

[2019-09-04 01:28] wwitzel3 commented on #237
Next release is scheduled for next Monday, Sept 09.

[2019-09-04 01:34] ylvmw commented on #237
Great! Thanks.

[2019-09-04 04:00] isdzulqor commented on #232
Thanks for your answer. I already tried it. It threw no error. But it didn't expose the port

[2019-09-04 13:39] #228 closed

[2019-09-04 13:40] #195 closed

[2019-09-04 15:46] moderation commented on #195
Confirming that the left menu / column is now displaying after building from master and running against a cluster with high restriction levels including listing CRDs. Thanks.

[2019-09-04 16:01] wwitzel3 commented on #195
Thank you for confirming. This current fix will add some more noise to the console (the warnings output for the access failure), but we have some changes coming in 0.8 (0.7 is releasing early next week) that will clean all of that up.

[2019-09-05 05:05] binaryWorld opened #244 "run octant ERROR: failed to init cluster client: invalid configuration: no configuration has been provided"
$ rpm -qa | grep octant
octant-0.6.0-1.x86_64

$ echo $KUBECONFIG
/var/lib/kubelet/kubeconfig

$ kubectl cluster-info
Kubernetes master is running at http://localhost:8080

$ octant
2019-09-05T13:00:29.209+0800	ERROR	commands/dash.go:88	dashboard failed	{"err": "failed to init cluster client: invalid configuration: no configuration has been provided", "errVerbose": "invalid configuration: no confi

[2019-09-05 07:33] zwunan commented on #188
I also met this problem, how to solve it

[2019-09-05 13:25] pdemagny commented on #206
I'm experiencing the very same issue with 3 EKS clusters. It only works using the url trick as stated by @PsychoSid :(
I would add that the box to switch clusters is too short for standard EKS cluster names like `arn:aws:eks:eu-west-1:133713371337:cluster/mycluster`.

[2019-09-05 13:45] bryanl commented on #206
We're aware of this and are currently re-engineering the process that generates it to make it 1) easier to update 2) actually update. There will be a fix for this in in 0.7 later this month.

[2019-09-05 14:35] wwitzel3 commented on #188
@zwunan we recently merged some work around this (see #200). Have you tried explicitly setting `OCTANT_ACCEPTED_HOSTS` to address of the requesting client?

[2019-09-05 22:04] wolfencom commented on #244
What is the output of kubectl config get-contexts?

[2019-09-05 22:14] GuessWhoSamFoo commented on #232
Octant runs on `localhost:7777` by default and does not expose any ports. Can you share what you're trying to accomplish?

[2019-09-06 12:15] binaryWorld commented on #244
$ kubectl config get-contexts
CURRENT   NAME   CLUSTER   AUTHINFO   NAMESPACE

[2019-09-06 13:00] wolfencom commented on #244
You have no contexts configured, without that I would expect Octant to not work.

https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/

[2019-09-06 21:29] #229 closed

[2019-09-09 14:57] bryanl commented on #233
Ended up fixing the problem rather than the symptom.  #239

[2019-09-09 14:57] #233 closed

[2019-09-09 14:59] bryanl commented on #206
This should be fixed when #239 is merged. Revamped the whole process.

[2019-09-09 17:00] ImJasonH commented on #178
+1, This also makes plugin development a bit more painful, since I have to rebuild my plugin and restart Octant to see changes.

[2019-09-09 17:26] ImJasonH opened #246 "Feature requests: ANSI escape codes in pod logs"
When a pod emits colorful logs with ANSI escape codes, Octant's pod logs viewer renders the codes directly, which makes them a bit less readable:

![logs](https://user-images.githubusercontent.com/210737/64552170-b0242700-d304-11e9-8532-2db551e0f530.png)

Using a library like https://github.com/drudru/ansi_up might help?

[2019-09-09 17:27] jwalters-gpsw opened #247 "2019-09-09T10:26:26.376-0700 ERROR navigation/navigation.go:125 prowjobs.prow.k8s.io: crd conversion failed: cannot convert int64 to float64"
Starting octant using cluster with prow CRDs.

[2019-09-09 17:28] jwalters-gpsw commented on #247
Full stack:

[code]

[2019-09-09 17:29] jwalters-gpsw commented on #247
Version:
[code]

[2019-09-09 17:35] jwalters-gpsw commented on #247
Comment in code seems to suggest there might be a fix related to this merge:
https://github.com/kubernetes-sigs/yaml/pull/14

[2019-09-09 20:26] ImJasonH opened #248 "Graphviz node doesn't appear"
I'm trying to add a tab to the UI for a CRD type provided by [Tekton](https://github.com/tektoncd/pipeline), which could really benefit from Octant's built-in graphviz support.

Using [github.com/tmc/dot](https://godoc.org/github.com/tmc/dot), I'm generating this dot text, from [this sample config](https://github.com/tektoncd/pipeline/blob/1ac3262e88e5452858776809c7208a5ad2971bcc/examples/pipeline

[2019-09-10 10:10] binaryWorld commented on #244
$  kubectl config get-contexts
CURRENT   NAME              CLUSTER           AUTHINFO   NAMESPACE

*         default-context   default-cluster   admin

$ OCTANT_LISTENER_ADDR=0.0.0.0:8003 octant
2019-09-10T18:07:08.054+0800	INFO	module/manager.go:75	registering action	{"component": "module-manager", "actionPath": "deployment/configuration", "module-name": "overview"}
2019-09-10T18:07:08.058+0800	I

[2019-09-10 12:58] bryanl commented on #117
This is more complex than I originally thought: https://github.com/kubernetes/kubernetes/issues/79610

The solution is going to have to work around this inability to remove event handlers from informers.

[2019-09-10 14:18] wwitzel3 commented on #244
This looks related to a bug we have. #199
This is fixed in master and will be in the next release. In the mean time you can explicitly set the `OCTANT_ACCEPTED_HOSTS` environment variable to a list of hosts that will be connecting to octant. See https://github.com/vmware/octant/blob/master/docs/getting-started.md#environment-variables for a full list of variables.

[2019-09-10 14:21] wwitzel3 commented on #247
Hi @jwalters-gpsw , a fix for this issue was merged and released in our 0.6 release (#145).
Could you try downloading and using the latest Octant.

https://github.com/vmware/octant/releases/latest

[2019-09-10 16:05] wwitzel3 commented on #248
I can confirm this. I get the following console error when attempting to use a Grapviz component.

[code]

[2019-09-10 16:51] #247 closed

[2019-09-10 18:15] mikeroySoft opened #251 "Can't port forward containers when using Minikube"
When using Minikube, the option to port forward containers seems to be missing.
This seems to also offset the 'propagation' label.

"kubectl port-forward deployment/mike-nginx 7000:80" works just fine.

https://pasteboard.co/IwNnUf0.png

\>_ minikube version
minikube version: v1.3.1
commit: ca60a424ce69a4d79f502650199ca2b52f29e631
\>_ octant version
Version:  0.6.0
Git commit:  a14f6a25a9d1cfa3696

[2019-09-10 18:39] GuessWhoSamFoo commented on #251
Octant currently looks for a container port. Per discussion with @bryanl about handling port forwarding on deployments, replicasets, and services, there needs to be some decisions made on how to track them and how this information should be displayed in `/cluster-overview/port-forward`

[2019-09-10 18:47] bryanl commented on #251
@mikeroySoft Thanks for this. For Octant to know which port to forward, ports have to be available in the pod template spec. We don't have enough info to guess and still haven't figured out how to create port forwards to unknown ports in the GUI.

[2019-09-11 02:05] #244 closed

[2019-09-11 03:03] binaryWorld commented on #237
https://github.com/vmware/octant/releases   latest version ：0.6

When would the next release probably be published?

[2019-09-11 03:04] binaryWorld commented on #244
https://github.com/vmware/octant/releases latest version ：0.6

When would the next release probably be published?

[2019-09-11 03:07] wwitzel3 commented on #237
You can expect to see it late this week or early next. We have a couple PRs in flight that are larger that we want to get in to the 0.7 release.

[2019-09-11 03:38] e271828- opened #253 "Basic resource usage metrics"
It would make sense to show some minimal performance stats, e.g. the output of `kubectl top node / pod`.

[2019-09-11 14:19] bryanl commented on #223
Octant will gain support to see pods that have been terminated. This will allow you to see previous logs.

[2019-09-11 15:01] kacole2 commented on #136
@zetaab this should be fixed with #199 and using `OCTANT_DISABLE_OPEN_BROWSER=1` when the next version is shipped. It also looks like there is some work with this example. https://github.com/vmware/octant/tree/master/examples/in-cluster

I agree having this run in a docker image and then moving to run in-cluster is a great use-case.

[2019-09-11 16:03] wwitzel3 opened #256 "Windows hacking instructions."
Extend our HACKING.md to include specific instructions for Windows.

We may want to also consider adding a Windows specific Makefile?

[2019-09-11 16:12] #235 closed

[2019-09-11 16:31] #117 closed

[2019-09-11 16:43] GuessWhoSamFoo opened #257 "Rewrite Cypress e2e tests with websockets"
There is support for this in Cypress (see example https://github.com/mjhea0/cypress-example-recipes/tree/master/examples/websockets) and also gives an opportunity to write more robust tests.

[2019-09-11 16:54] #181 closed

[2019-09-11 16:59] n3wscott commented on #181
@GuessWhoSamFoo was it fixed? which version should I use now?

[2019-09-11 17:08] wwitzel3 commented on #181
This is fixed in master and will be in our next release, 0.7 which will happen very soon.

[2019-09-11 17:10] wwitzel3 commented on #217
Fixed and merged in to master (#250).

[2019-09-11 17:10] #217 closed

[2019-09-11 17:11] wwitzel3 commented on #206
Fixed in master and will be available in the next release.

[2019-09-11 17:11] #206 closed

[2019-09-11 17:17] wwitzel3 commented on #238
Fixed in master with #239. Will be in next release.

[2019-09-11 17:17] #238 closed

[2019-09-11 17:20] wwitzel3 commented on #184
Added with #211

[2019-09-11 17:20] #184 closed

[2019-09-11 18:22] wwitzel3 opened #258 "Frontend memory leak"
@bryanl mentioned that when leaving a browser open to Octant running for an extended period of time (a day or more) that eventually the browser tab will crash / OOM.

[2019-09-11 20:17] GuessWhoSamFoo opened #260 "Support for magefile"
By running mage out of vendor, makefile targets can be replaced by a series of `go run` commands and reduce tools needed for windows builds

See https://magefile.org/zeroinstall/

[2019-09-11 22:00] wwitzel3 opened #261 "Pod container card does not occupy full space."
![image](https://user-images.githubusercontent.com/27317/64738719-fec8f100-d4bd-11e9-933d-645cf529700d.png)

[2019-09-11 22:00] #149 closed

[2019-09-11 22:37] nopjmp commented on #256
Would a PowerShell script suffice here? Arguments could be similar to the make arguments to run functions in the PowerShell script as a dirty re-implementation of make.

[2019-09-12 00:33] tao12345666333 commented on #238
Thanks all.

[2019-09-13 16:13] wwitzel3 commented on #256
I think that would be fine, yes. @nopjmp let me know if this is something you are going to work on and I'll assign it to you.

[2019-09-13 18:47] jeremy-moffitt opened #269 "General theme support"
Understanding that Octant is not intended to have full white-label support, it would be useful to have some level of uniform theme or branding support. Clarity already supports sass overrides, and there is a dark theme issue (https://github.com/vmware/octant/issues/36) that perhaps the community could use as a reference point? The ideal result would be some official best practice that allows for a

[2019-09-15 13:02] bryanl opened #272 "Upgrade frontend to Clarity 2.2"
Upgrade frontend to clarity 2.2 and angular 8. This will allow
Octant to take advantage of bug fixes, and new features
(like grid fixes)

[2019-09-15 14:20] bryanl opened #273 "Set user agent for octant"
User agent is `User-Agent: octant/v0.0.0 (darwin/amd64) kubernetes/$Format`. At the minimum, it should
contain the current version of Octant.

[2019-09-16 13:43] wwitzel3 opened #279 "Reload kubeconfig / contexts when file changes."

[2019-09-16 14:15] zoidbergwill opened #280 "Link to objects in another cluster"
There are a few tools out there that manage deploying workloads to multiple clusters, like [shipper](https://github.com/bookingcom/shipper), [rancher](https://rancher.com/products/rancher/multi-cluster-management/), and [admiralty](https://admiralty.io/).

I was thinking of writing a plugin for Shipper, to provide better visibility between clusters, but I'm not sure how I'd do linking between cont

[2019-09-16 14:55] wwitzel3 commented on #280
We currently do not have a way to query objects across cluster right now. We do want to expose this eventually and we know it is something that will be useful to plug-in authors.

[2019-09-16 16:28] #261 closed

[2019-09-16 18:57] rajatjindal commented on #273
Hi Bryan,

I am almost done with the changes for this, and will submit the PR in a short while.

[2019-09-16 19:08] jwalters-gpsw commented on #247
Looks good

[2019-09-16 19:37] rajatjindal commented on #273
The instructions in Hacking.md does not seem to work for me. I am running it with minikube and keep getting error "api handler not found: /api/v1/namespace"

any pointers what I could be doing wrong?

[2019-09-16 19:54] rajatjindal commented on #273
it started to work after I ran "make ui-server" a couple of times, and I tested it and it seems to be working as expected.

[2019-09-17 12:36] bryanl opened #283 "Plugin path generate over GRPC"
Plugins generate paths locally, so this means that changes in octant paths will not be reflected in plugins. Instead, request a path over the GRPC bridge.

[2019-09-17 16:17] GuessWhoSamFoo opened #285 "Websocket address should respect OCTANT_LISTENER_ADDR"
Setting `OCTANT_LISTENER_ADDR=localhost:7778` breaks octant because websocket connection is expected on 7777

[2019-09-17 18:50] wwitzel3 opened #288 "Direct linking / refresh broken"
When direct linking to a resource and/or doing a browser refresh, content does not load without clicking and when you click the navigation, the namespace is reset to the default.

Maybe related to #284

[2019-09-17 18:50] wwitzel3 commented on #288
![no-loading](https://user-images.githubusercontent.com/27317/65070398-8dc08800-d95a-11e9-955a-97db486746eb.gif)

[2019-09-17 20:06] eapodaca commented on #269
I've taken some time to look at this and run a few experiments. I think the only thing that would be nice to have for this are are some changes to a few styles.

There are a few instances where colors are in a few component specific scss files. It would make our theming effort more simple if this was done though is not 100% required.

[2019-09-18 00:13] #285 closed

[2019-09-18 13:58] wwitzel3 commented on #288
Fixed by #284

[2019-09-18 13:59] wwitzel3 opened #290 "Non-existent namespace gives no indication."
![image](https://user-images.githubusercontent.com/27317/65155263-f8c19b80-d9fa-11e9-91d5-4b5faf937440.png)

[2019-09-18 15:18] brookssw opened #291 "Namespace list doesn't update when context switched"
When changing between contexts via the drop-down on the right, the list of namespaces remains those of the prior context.

e.g.
start octant, it loads everything from context1
switch to context2 via drop-down on top right
namespaces listed top-center drop-down are still those of context1

[2019-09-18 15:53] wwitzel3 commented on #291
This is fixed by #284 which will be in the next release.

[2019-09-18 15:53] #291 closed

[2019-09-18 15:53] #42 closed

[2019-09-18 17:56] bjethwan opened #293 "Can octant run on a headless linux instance?"
Can octant run on a headless linux instance (it was an ec2 instance in my case)?
And I use a browser on another machine to access the gui (macbook in my case).

At present, I get below error:

$ octant_0.6.0_Linux-64bit/octant
2019-09-18T17:46:54.787Z	INFO	module/manager.go:75	registering action	{"component": "module-manager", "actionPath": "deployment/configuration", "module-name": "overview"}
20

[2019-09-18 18:20] #288 closed

[2019-09-18 18:21] wwitzel3 commented on #177
I believe this is fixed in our 0.7 release. If you get a chance to re-test it on your cluster that would be excellent.

[2019-09-18 18:21] #177 closed

[2019-09-18 18:25] wwitzel3 opened #294 "Multiple cluster clients"
Currently all client requests to octant share the same ClusterClient.
This means if you change contexts in octant all clients change context.

Enable the ability to have a ClusterClient per context that octant clients fetch from a manager.

[2019-09-18 18:35] ImJasonH opened #295 "Bounced back to Summary tab when viewing my plugin's tab"
I added a tab for a CRD type:

[code]

After v0.7.0 (thanks by the way! :tada:) this renders the graphviz as expected (again, woohoo! :tada:) but now any time I click on the tab I created, about 2-3 seconds later the view bounces back to the Summary tab, without any interaction on my part.

Here's a potato-quality gif screencap:
![capture](https://user-images.githubusercontent.com/210737/65175189-

[2019-09-18 18:37] ImJasonH commented on #295
It looks like https://github.com/vmware/octant/issues/181 is another report of this bug, which claims to be fixed. It just doesn't seem to be in 0.7.0, unless I'm missing something. :thinking:

[2019-09-18 18:50] wwitzel3 commented on #295
@ImJasonH thanks, I'll take another look at this and be sure this gets fixed in 0.7.1

[2019-09-18 18:50] GuessWhoSamFoo commented on #295
The changelog should have linked to #222. This behavior is not observed with the sample plugin. Wonder if it is something to do with the graphvis component.

[2019-09-18 18:51] wwitzel3 commented on #295
@GuessWhoSamFoo yeah, I noticed the same thing, the sample plugin is fine. I think investigating if this is specific to the grapviz component is a good start.

[2019-09-18 19:00] ImJasonH commented on #295
I'm unable to reproduce this with the sample plugin, even changing line 76 to `contents := components.NewGraphviz("...some example graphviz I found on the internet...")`

I _am_ able to reproduce with my plugin printing the same example graphviz.

It might be an issue with tabs for CRD types specifically, since the sample plugin adds a tab for a built-in Pod type? :man_shrugging:

[2019-09-18 19:01] wwitzel3 commented on #295
Thank you for the extra details. That helps.

[2019-09-18 22:39] bryanl opened #296 "Application View"
Create an application view.

Documented at: https://hackmd.io/@bryanl/octant-application-viewer

[2019-09-18 22:45] bryanl opened #297 "Move namespaces that aren't exclusive to overview to the top level"
* printers
* object visitor
* resource viewer

[2019-09-19 06:53] MarcusNoble commented on #119
It looks like this may have been removed / broken in the 0.7.0 release.

[2019-09-19 11:02] bryanl opened #300 "List applications for a namespace"
Create application module and list applications. Applications aren't implemented yet, so they do not need to link anywhere.

To find an application:
* list pods
* if pods match an application (ie they have `app.kubernetes.io/{name,instance,version}` tags), add to application list
* show applications in list component

Hide application module behind an environment variable.

[2019-09-19 14:06] DanRigby opened #301 "Update homebrew formula to latest release (v0.7.0)"
- Current formula is for the previous release (v0.6.0):
  - https://github.com/Homebrew/homebrew-core/blob/master/Formula/octant.rb

[2019-09-19 15:00] puzzloholic opened #302 "No hpa resource viewer"
Is there any hpa resource viewer to easily watch autoscaling status in pods.

[2019-09-19 16:05] wwitzel3 opened #303 "clicking a pod heptigon doesn't load pod summary"
When using the resource view and selecting a pod (which may be many pods), clicking an individual pod heptigon from the side nav changes the URL but no pod summary is rendered.

[2019-09-19 16:22] wwitzel3 commented on #303
This is due to the namespace being reset to `default` when you follow the link.

[2019-09-19 16:43] GuessWhoSamFoo commented on #302
Let's start by writing a printer for hpa

[2019-09-19 20:22] hemna opened #304 "can't build on Leap 15.1"
Trying to build on openSuse Leap 15.1 VM

[code]

[2019-09-20 02:13] #297 closed

[2019-09-20 18:51] eapodaca commented on #269
It might also be nice to enhance the plugin mechanism so that plugins can specify additional styles and or assets at runtime.

[2019-09-21 00:34] ImJasonH opened #307 "Logs component from a plugin results in blank page"
I have code like this in my plugin:

[code]

(This pod with this container is running in this namespace, and works just fine in the Pod's Logs tab)

This causes the page for this resource to be rendered blank, with no errors in the Chrome Console or in `octant`'s output.

[2019-09-21 17:57] bryanl commented on #304
This error looks like Angular CLI is not installed. I don't believe we bundle it, but probably should.

[2019-09-21 17:59] bryanl commented on #251
I'm closing this issue as there isn't an action item. Not sure if Octant should try to guess about ports.

[2019-09-21 17:59] #251 closed

[2019-09-23 14:29] DanRigby commented on #301
The formula has been updated to v0.7.0. Closing issue.

[2019-09-23 14:29] #301 closed

[2019-09-24 09:54] garethr opened #315 "Problem adding an external link to SummarySection"
I'd like to add a link to an external site into a row on the status panel.

Trying to use `NewLink`:

[code]

Results in a relative link, not an absolute one, like so: http://127.0.0.1:7777/#/content/overview/namespace/default/workloads/deployments/<name>/https://example.com

Trying to use `NewMarkdownText` instead:

[code]

The absolute link works here, but results in wrapping the link in a parag

[2019-09-24 15:37] bryanl commented on #307
This is interesting. This is definitely not a scenario I envisioned when putting this together. Will take a look.

[2019-09-24 18:10] elementalvoid commented on #218
Just as an FYI, my team just started using Octant and found that the latest release (v0.7) does not suffer from the UI hanging issue. This was in fact a sticky point for us when we started experimenting with Octant -- using the older v0.6 release.

The logs are still noisy because the error is still printed but the UI is responsive.

[2019-09-24 18:13] wwitzel3 commented on #218
Agreed, the log noise when running using restricted access it very annoying. We will try to get something in the next release to help reduce the noise.

[2019-09-25 14:09] wwitzel3 commented on #294
We will not be implementing this in Octant (for now and maybe never). Octant can only connect to a single cluster at a time.

[2019-09-25 14:09] #294 closed

[2019-09-25 14:12] wwitzel3 commented on #280
After some further investigation, Octant will only connect to a single cluster at a time. Your plugin can still show visibility in to the deployments, but the user of Octant will need to use the context switcher to cycle through clusters.

[2019-09-25 14:12] #280 closed

[2019-09-26 04:43] pieterv-icloud-com opened #318 "DNS Error"
Running the latest 0.7.0 release inside kubernetes and getting the following error:

2019-09-26T04:22:45.064Z	ERROR	commands/dash.go:87	dashboard failed	{"err": "initializing modules: create overview module: create namespaced CRD watcher for overview: crd watcher has failed: client resource: Get https://**kubernetes.default.svc.cluster.local**:443/api?timeout=32s: proxyconnect tcp: dial tcp: looku

[2019-09-26 14:17] gwiersma opened #319 "Octant dashboard empty"
Installed octant on Windows using Chocolaty. When starting octant my browser opens but i only see a loading screen:

![afbeelding](https://user-images.githubusercontent.com/10595726/65696097-f73a4800-e078-11e9-9904-1f40bd6c193c.png)

i have also used verbose mode but i don't see any errors.

Using octant 0.6.0

[2019-09-26 17:40] Ehekatl commented on #318
getting similar error here on macos 0.7.0

[code]

[2019-09-27 01:51] GuessWhoSamFoo commented on #319
It could still be worthwhile posting console output in case some of the debug output is useful.

[2019-09-27 01:57] #315 closed

[2019-09-27 01:58] wwitzel3 commented on #315
This is fixed in master now.

[2019-09-27 01:59] #272 closed

[2019-09-27 10:12] mislavcimpersak opened #320 "Octant 0.7.0 on MacOS - no contexts"
Octant **0.6.0** is working as expected ✅ Love the tool ❤️

[code]

Octant dashboard worked as expected with 0.6.0 with all contexts loaded:

[code]

-----

Octant **0.7.0** (either downloaded from github or installed using homebrew) cannot load contexts ⛔️

[code]

Traceback:

[code]

Octant version:

[code]

Go lang version

[code]

I can still use 0.6.0 to get some insights for my clusters, but

[2019-09-27 13:25] wwitzel3 commented on #320
I would try doing a hard refresh / reset (clearning browser cache) of Octant website.

This looks like it might be related to some caching still attempting to request content from our old URLs. In 0.7 we moved to websockets and a lot of folks have been hitting this.

[2019-09-27 13:27] wwitzel3 commented on #319
As well as console output, could you try using the latest version of Octant , you can download it here https://github.com/vmware/octant/releases/latest

[2019-09-27 18:47] bryanl opened #321 "Secret data items aren't sorted"
Since they aren't sorted, the order will change randomly.

[2019-09-27 19:18] #321 closed

[2019-09-29 21:15] mislavcimpersak commented on #320
omg. that was it. Thank you @wwitzel3 🤗

Closing this one.

[2019-09-29 21:15] #320 closed

[2019-09-30 12:23] wwitzel3 commented on #318
If you are trying to deploy Octant in cluster, depending on your clusters configuration, you may want to look in to setting `hostNetwork` and `dnsPolicy` in your YAML. This appears to be some type of DNS related issue.

Also, though you can run it in cluster given that is is served as a website, Octant is a desktop application and is intended to be ran as that, out of cluster.

[2019-10-01 07:00] gwiersma commented on #319
Debug output;

[code]

I will try version 0.7.0.

[2019-10-01 07:59] gwiersma commented on #319
version 0.7.0 still no dashboard.

[code]

[2019-10-01 09:19] sjtoik commented on #319
The brew package and the MacOS tar-package has the same fault in it.

[2019-10-02 13:53] wwitzel3 commented on #319
Can you try clearing and resetting your browser cache? That 404 looks like an attempt to access the old 0.6 routes. See #320

After you do that, if the dashboard is still not loading for you, please attach new verbose output.

[2019-10-02 16:31] GarySmith opened #324 "Expose launch command in public api"
In airshipui we are trying to distribute our ui as a single go executable. But before launching directly into octant there is some pre-launch logic that needs to be executed. So the plan is to write a small amount of wrapper code that imports octant and launches it octant by calling internal/commands/dash/newOctantCmd. But since this is in an internal package, it is not callable by another package

[2019-10-02 19:24] wwitzel3 commented on #135
I put together some thoughts on this. I'm still thinking about this and will have some more edits later, but wanted to get this out so we could start the conversation.

https://hackmd.io/@wwitzel3/octant-container-exec

[2019-10-02 21:16] mikeroySoft commented on #127
Resolved as per PR #314 , details are now in docs/FAQ.md

[2019-10-02 21:20] #127 closed

[2019-10-02 21:40] GuessWhoSamFoo commented on #303
Turns out the fix is a one-liner, but e2e testing resource viewer is more difficult. Visual testing via something like Percy seems to be the way to go but researching this a little further

[2019-10-03 00:34] GuessWhoSamFoo opened #325 "Unable to preventDefault inside passive event listener invocation"
This was a change from chrome 56 with some guidance on how to fix:

https://developers.google.com/web/updates/2017/01/scrolling-intervention

XR: https://github.com/angular/angular/issues/8866

[2019-10-03 18:44] GuessWhoSamFoo commented on #135
Some notes:
 - Browser terminal should support clipboard events
 - Where in the UI should be tracking all the existing terminals?
 - When do the terminal connection close?
 - Notifying user if terminal disconnects for other reasons
 - Look into xterm support for resizing

[2019-10-04 14:49] wwitzel3 commented on #324
I think this should be possible, we'll need to consider the public API of an OctantCmd and look at what we currently are exposing as part of that.

[2019-10-04 16:30] wwitzel3 commented on #135
I added some details about handling terminals in the UI and how we are going to deal with timeouts and disconnects. xtermjs supports resizing and clipboard/mouse support.

[2019-10-04 21:07] #218 closed

[2019-10-04 21:09] wwitzel3 opened #327 "Refactor error handling."
#323 merged some changes that make how we handle errors more user friendly. In that change an error manager was added to the dash config and passed down in to the describer helper methods. We want to refactor the error handling so that the error function (ErrorManager()) is not on the dash config interface.

[2019-10-04 22:08] #303 closed

[2019-10-05 00:52] GuessWhoSamFoo commented on #302
@puzzloholic This is now available on master. Feel free to leave any feedback for changes you'd like to see for 0.8

[2019-10-06 21:05] tedyu commented on #117
[code]
It seems we can add a Stop func to the above interface where the stop channel is closed.

[2019-10-07 12:30] wwitzel3 opened #329 "Feature: Manage local clusters"
Add the ability for Octant to manage local clusters.

[2019-10-07 12:33] wwitzel3 commented on #329
I'll gather some thoughts about this and write up a more in-depth proposal.

Check for KIND.
Add menu for KIND Management.
Actions: create, delete, stop, start
List KIND clusters and their status.

[2019-10-07 17:06] GuessWhoSamFoo opened #330 "Use Github token from service account"
Goreleaser currently uses a personal token linked to this Github account. We should have a service account to handle releases

[2019-10-07 18:09] #302 closed

[2019-10-08 09:15] konnaf24 opened #332 "crd watcher has failed: client resource: no matches for kind..."
getting this error. Any pointers?

root@ubuntu:~# octant version
Version:  0.7.0
Git commit:  632f678f1706ad6ce3e725e30f3d267d7231b136
Built:  2019-09-18T16:40:12Z

root@ubuntu:~# kubectl cluster-info
Kubernetes master is running at http://10.19.23.4:7000
KubeDNS is running at http://10.19.23.4:7000/api/v1/namespaces/kube-system/services/kube-dns:dns/proxy

To further debug and diagnose cluster pr

[2019-10-08 09:24] #332 closed

[2019-10-08 12:46] #273 closed

[2019-10-08 16:33] GuessWhoSamFoo commented on #142
Fixed via 3ebca1c696e3321f256c23e27cc3ded55fad0786

[2019-10-08 16:33] #142 closed

[2019-10-09 12:42] gwiersma commented on #319
In private mode it works with 0.7.0

[2019-10-09 12:42] #319 closed

[2019-10-09 16:47] wwitzel3 commented on #258
- It is related to the the poller
- memory usage roughly increases at a rate of 2.5MB/s
- Theory so far is that ngOnDestory might not be called when needed

[2019-10-09 19:49] bryanl opened #335 "Show image id for containers"
Show image id when displaying containers, so user can
known exactly which image is in use.

[2019-10-11 10:52] #300 closed

[2019-10-11 11:46] bryanl opened #340 "Separate navigation by module"
The current navigation scheme shows lots of separate data together. Split out
navigation to show only the current module.

[2019-10-11 16:33] bryanl opened #341 "Allow for customizing grid columns"

[2019-10-14 08:06] mengdie-song opened #345 "Support kubernetes 1.16 API for function pkg/store/get_as.go#L71"
For kubernetes 1.16 API, Object has no field or method SetInitializers/GetInitializers.
So I have got compile issues when trying to import octant module to my project.
The issue exists in this line https://github.com/vmware-tanzu/octant/tree/master/pkg/store#L71

[2019-10-14 17:10] #160 closed

[2019-10-14 17:21] wwitzel3 commented on #179
We need to recheck with the latest Octant and example plugin to see if this is still an issue.

[2019-10-14 17:24] wwitzel3 commented on #55
Recheck with new error handling code.

[2019-10-14 17:29] wwitzel3 commented on #163
Do we want to show these by default for this resource? Because we can now see them with the filtering changes.

[2019-10-14 17:33] wwitzel3 opened #346 "Create a typed error for cluster errors."
Create a typed error for cluster errors, similar to our typed error for access errors.
This will allow us to surface these errors in the status view when that is ready.

[2019-10-14 17:34] wwitzel3 commented on #139
We want to add this to Octant, we will be spending some time to write up a feature proposal for how this will be implement. We will be sure to link back to this issue in that PR.

[2019-10-14 17:47] wwitzel3 commented on #68
This maybe solved with #139

[2019-10-14 17:48] wwitzel3 commented on #64
This can be handled using the new alerting code. Notifying the user that the port forwarding connection has been lost.

[2019-10-14 17:54] #109 closed

[2019-10-14 17:57] wwitzel3 commented on #172
no longer needed since we now display empty content by default

[2019-10-14 17:57] #172 closed

[2019-10-14 18:00] wwitzel3 commented on #201
We are planning to refactor the way we do object status and this will be addressed at that time. Though it still may not map exactly to what you see in kubectl output, it will be improved to provide a better level of detail over just pending / running.

[2019-10-14 18:00] stevesloka commented on #140
I've been meaning to chat about this, I'm very interested in creating one for Contour.

Also, we're deprecating IngressRoute, HTTPProxy is our new CRD for Contour 1.0.

[2019-10-14 21:27] #258 closed

[2019-10-14 22:37] GuessWhoSamFoo commented on #213
@fabriziopandini Could you clarify a bit on the difference between the two bullet points? We're planning to break this apart into three different feature requests.

[2019-10-14 23:24] wwitzel3 commented on #68
This feature would only be available when RBAC is enabled.

[2019-10-15 00:09] #36 closed

[2019-10-15 00:09] #290 closed

[2019-10-15 00:10] #335 closed

[2019-10-15 09:13] fabriziopandini commented on #213
@GuessWhoSamFoo sure!

Users to specify a regex/a search string --> octant should highlight matches in the log and provide some buttons to quickly move from one match to the following/previous

Users to specify a regex/a search string --> octant should filter out (hide) all the logs lines without a match and highlight matches on the remaining lines

TL;DR; with the first option you still see the f

[2019-10-15 19:01] GuessWhoSamFoo commented on #257
Needs additional work as 02fd1970bc48a936c866f1e08485e034f2541c8e forward has consistent failures

[2019-10-17 16:04] wwitzel3 commented on #345
We do some conversions with Unstructured objects. Finalizers were removed from Unstructured. We need to update our calls to reflect this.

https://github.com/kubernetes/apimachinery/commit/724b2a96076bf3ad4aae4c1e7f814d561ed85a16#diff-da08a78cec0f5fdb7eaadef2a7a4261d

[2019-10-18 00:50] #345 closed

[2019-10-18 00:52] wwitzel3 commented on #345
This is fixed in master now.

[2019-10-18 07:16] maehld opened #355 "Blank page in browser (0.8.0, Windows)"
I've downloaded Octant 0.8.0 and it does only show a blank page in all my browsers (edge dev, chrome, firefox)

From the log it seems as if the Content-Type for JavaScript-files is wrong. Here's an excerpt:

Loading module from “http://127.0.0.1:7777/main-es2015.f3cf8b8bca1b3debed1e.js” was blocked because of a disallowed MIME type (“text/plain”).

I'm using Octant on Windows 10.

[2019-10-18 15:50] wwitzel3 commented on #355
I am unable to reproduce this issue on Windows 10 with Chrome, FF, or Edge. If possible, could you provide the output of the web console and the network pane for any of the mention browsers.

Also, if you re-start Octant using the `-v` switch and provide the output of the verbose logging, we might be able to see something there as well.

![image](https://user-images.githubusercontent.com/27317/671

[2019-10-18 15:51] wwitzel3 commented on #355
When grabbing the Network Pane out, please use Ctrl+F5 to refresh the page (to avoid using the browser cache).

[2019-10-18 21:10] #257 closed

[2019-10-18 22:44] GuessWhoSamFoo opened #357 "Octant website review and content"
- [x] Move files from `/docs` to `site`
 - [x] Deep linking slack URL
 - [x] Dollar sign must be followed by output to keep linter happy (Adding linting tool to CI?)
 - [x] Linking to headers
 - [x] Update ruby gems
 - [x] Move hacking and roadmap to site
 - [x] Remove master from sidebar
 - [x] Fix code wrap for console output

[2019-10-21 07:21] maehld commented on #355
Hi. Here is a screenshot of Edge Dev and the corresponding verbose log of octant.

![image](https://user-images.githubusercontent.com/7596/67184298-c208e780-f3e3-11e9-8f8e-87c4be7ab992.png)

[temp_octant_log.txt](https://github.com/vmware-tanzu/octant/files/3749479/temp_octant_log.txt)

[2019-10-21 07:23] maehld commented on #355
It's the same error on stable chrome. The old Edge browser (not based on Chromium) shows the page.

[2019-10-21 07:33] maehld commented on #355
I've tried to understand Go's http FileServer and it seems as if it never delivers text/javascript content types. But as you're not able to reproduce this error could that be a setting in my browsers?

[2019-10-21 21:16] wwitzel3 opened #358 "macOS Catalina non-working binary"
See https://github.com/golang/go/issues/34748

Current workaround: Homebrew works on macOS Catalina.

[2019-10-21 21:46] wwitzel3 commented on #358
@GuessWhoSamFoo pointed out that Terraform has a similar issue since Catalina: https://github.com/hashicorp/terraform/issues/23033

[2019-10-22 18:52] wwitzel3 opened #362 "Allow Octant to start without a kubeconfig."
Allow octant to start without a kubeconfig.

The UI should prompt the user for a path to a valid kubeconfig file.

Currently Octant immediately fails if unable to parse the kubeconfig file. We want to redirect that behavior to allow for a UI that would enable a user to select a kubeconfig.

A plugin should also be able to set the kubeconfig.

[2019-10-23 00:00] GuessWhoSamFoo opened #363 "Watch for configmap changes used in deployment"
https://github.com/kubernetes/kubernetes/issues/22368

Kubernetes does not update deployments on a configmap change. Octant would only be able to give a warning if it were running while the configmap changes are made.

Tools like kustomize and wave approaches this problem by associating a hash with each change. There should be warnings given to the user for the behavior above.

[2019-10-23 19:23] GuessWhoSamFoo commented on #46
Going to revisit this in a bit. There is a bit of refactoring needed to handle an edge case (nearly identical plugins except description) which isn't too high priority atm

[2019-10-23 22:15] wwitzel3 commented on #179
Even though `SetAccessor` is being called, the JSON in the stream does not contain an `accessor`.

[code]

[2019-10-23 22:16] wwitzel3 commented on #179
I attempted to call `SetAccessor` outside of the `gen` function, but still no `accessor` renders on the JSON from the plugin content response.

[code]

[2019-10-24 08:56] strangeman opened #365 "Troubles if octant launched behind reverse-proxy (nginx)"
We trying to share one octant installation across the team. But, if octant launched behind nginx, it not works and shows a white screen instead of the main area (namespace selector and left menu shows correctly).

![2019-10-24-184549_1917x880_scrot](https://user-images.githubusercontent.com/1083576/67468988-d3295100-f68e-11e9-9021-b1f4e23cf31a.png)

Nginx config:
[code]

If I go to http://localhos

[2019-10-24 19:46] wwitzel3 commented on #365
We have some environment variables that can be set to aid in getting Octant to work when being viewed from a location other than localhost, https://github.com/vmware-tanzu/octant/blob/master/docs/getting-started.md#environment-variables

You can get the listener address to all hosts, like 0.0.0.0 or you can add explicit allowed hosts.

[2019-10-24 19:48] wwitzel3 commented on #293
Yes, we have some environment variables to help with this, see: https://github.com/vmware-tanzu/octant/blob/master/docs/getting-started.md#environment-variables

You can set `OCTANT_DISABLE_OPEN_BROWSER=1` to prevent the `xdg-open` warning and you can set the listener address and/or accepted hosts.

[2019-10-24 20:25] wwitzel3 opened #368 "Nightly builds don't bundle frontend."
The nightly builds are missing the dist/dash-frontend box.

The frontend build appears to be running.

![image (9)](https://user-images.githubusercontent.com/27317/67522502-de728180-f67a-11e9-8d00-12bf3f43d613.png)

[code]

Though when testing the `.goreleaser-nightly.yml` locally, it appears to work just fine.

[code]

[2019-10-24 22:25] GuessWhoSamFoo commented on #368
https://discourse.drone.io/t/share-workspace-between-two-different-drone-pipelines/2143

Since the addition of nightly, the release step was moved into a separate pipeline which does not share a workspace by default. We will need to keep the output of `make frontend` in a shared temporary volume between pipelines.

[2019-10-25 02:54] wwitzel3 commented on #179
fixed by #369

[2019-10-25 02:54] #179 closed

[2019-10-25 02:55] wwitzel3 commented on #295
I think this was fixed by #369
I haven't verified this yet, but will first thing tomorrow.

[2019-10-25 16:56] GuessWhoSamFoo commented on #368
Closed via #371

[2019-10-25 16:56] #368 closed

[2019-10-25 19:10] wwitzel3 commented on #295
Fixed in master by #369

[2019-10-25 19:10] #295 closed

[2019-10-25 19:13] wwitzel3 commented on #355
@maehld did you ever get a chance to tryout the patch I suggested?

[2019-10-28 07:35] maehld commented on #355
@wwitzel3 not yet. I'll give it a go today and will let you know.

[2019-10-28 07:51] strangeman commented on #365
Got 404 for this link and can't see the `docs` folder in the repo.

[2019-10-28 11:47] a-savinov commented on #365
can you show your nginx config

can you show your nginx config ?

[2019-10-28 11:52] a-savinov commented on #365
right url https://github.com/vmware-tanzu/octant/blob/master/site/docs/master/getting-started.md

[2019-10-28 15:56] jonasrosland commented on #357
Are we all set with this? Anything else that needs changed?

[2019-10-28 17:54] #357 closed

[2019-10-28 18:16] wwitzel3 commented on #154
Fixed in current master.

[2019-10-28 18:16] #154 closed

[2019-10-29 10:15] maehld commented on #355
@wwitzel3  I have trouble building octant on Windows. If I "go get" it, it is missing the presumably pregenerated frontend. Do you have a quick tip?

[2019-10-29 12:04] zedtux opened #381 "Add a Storage Class page to list the existing storage classes"
AFAIK there is no page where to see existing Storage classes, so adding one would be nice.

[2019-10-29 14:38] #141 closed

[2019-10-29 14:44] wwitzel3 commented on #355
Ahh, yeah, so you would need to have npm and node and node installed and then you would run the following to build the front end.

[code]

So you would manually clone the repo (instead of `go get`). Run those commands to generate the UI and then go back to the root folder of the repo and run: `go run ./cmd/octant/main.go -v`

[2019-10-29 14:45] wwitzel3 commented on #355
If that is too much hassle, I can build a binary for you with the fix and post a link so you can try it out (if you're comfortable with that).

[2019-10-29 15:52] NiranEC77 opened #385 "panic: runtime error: invalid memory address or nil pointer dereference"
Hi
I am getting this error on an ubuntu server - panic: runtime error: invalid memory address or nil pointer dereference
followed: https://github.com/vmware-tanzu/octant/issues/132
I am using the latest build - https://github.com/vmware-tanzu/octant/releases/tag/v0.8.0

log output

github.com/vmware/octant/internal/dash.(*dash).Run
        /go/src/github.com/vmware/octant/internal/dash/dash.go:349

[2019-10-29 16:23] wwitzel3 commented on #385
Are you trying to connect to octant running on another host other than localhost?

[2019-10-29 18:17] NiranEC77 commented on #385
Yes I am trying to connect from another host
I ran the following command to start octant : OCTANT_LISTENER_ADDR=x.x.x.x:8900 octant
k8s version  v1.16.2
Ubuntu 18.04.3 LTS

[2019-10-29 18:17] NiranEC77 commented on #385
Yes I am trying to connect from another host
I ran the following command to start octant : OCTANT_LISTENER_ADDR=x.x.x.x:8900 octant
k8s version v1.16.2
Ubuntu 18.04.3 LTS

[2019-10-29 19:12] GuessWhoSamFoo commented on #385
See if setting `OCTANT_ACCEPTED_HOSTS` helps

[2019-10-29 19:43] andrewsav-datacom commented on #355
I'm having the same issue, so the OP is not alone

[2019-10-29 21:19] maehld commented on #355
@wwitzel3 go generate was the missing link. I've built octant with your gist and it works perfectly. Thanks.

[2019-10-29 22:30] wwitzel3 commented on #355
@maehld Thank you so much for taking the time to test that! I will get a PR up shortly so this can be merged for the nightly build and the next release.

[2019-10-29 22:43] wwitzel3 commented on #385
As @GuessWhoSamFoo pointed out, setting `OCTANT_ACCEPTED_HOSTS` with the value of the host you are trying to connect to Octant from. You can also set the `OCTANT_LISTENER_ADDR` to  `0.0.0.0` which by default will allow all hosts

[2019-10-29 23:51] #355 closed

[2019-10-30 15:43] nitinnbisht opened #391 "Port forwarder fails : portforward terminated"
# What
Port forwarder fails
# When
Port forwarded works fine with pods exposing single port, but fails with an application with multiple ports. In my case it's the locust master ([docker image here](https://hub.docker.com/layers/greenbirdit/locust/0.9.0/images/sha256-e99d53bdc94403e653a468270b4125f4c8d56330f864dfcab8c8f5cb2e617cf7))
# Error Message
There is no error message in the application as i

[2019-10-30 19:40] #205 closed

[2019-10-30 23:47] #363 closed

[2019-10-31 00:03] wwitzel3 commented on #163
fixed by #274

[2019-10-31 00:03] #163 closed

[2019-10-31 00:04] #44 closed

[2019-10-31 00:09] wwitzel3 commented on #362
replaces #32

[2019-10-31 00:10] wwitzel3 commented on #362
The UI prompt should allow for file selection as well as explictly setting a KUBECONFIG path, just as you would env var.

[2019-10-31 00:10] #32 closed

[2019-10-31 00:15] #166 closed

[2019-10-31 00:27] wwitzel3 commented on #223
You can now do this, added when we added support for seeing terminated pods in #274

[2019-10-31 00:27] #223 closed

[2019-10-31 00:30] wwitzel3 commented on #234
This is done for ConfigMap printer, but not in the container printer which has a ConfigMap card.

[2019-10-31 00:34] wwitzel3 commented on #324
We will be tracking and doing this work on issue #204.

[2019-10-31 00:34] #324 closed

[2019-10-31 00:46] GuessWhoSamFoo opened #394 "Document chocolatey release process"
This is missing from release.md

[2019-10-31 08:58] PsychoSid opened #395 "panic: runtime error: invalid memory address or nil pointer dereference"
Using 0.9.0

[code]

Results in:-
[code]

That object exists for what it's worth:-
[code]

[2019-10-31 11:24] wwitzel3 commented on #395
Hey, thanks for reporting this, sorry you ran in to this issue. Hopefully we can get this resolved quickly.

I'll see if I can replicate it easily, if not I may reach out with some more questions.

[2019-10-31 11:29] zedtux commented on #381
A page for the Persitent Volumes would be great too !

[2019-10-31 18:36] aaroniscode commented on #219
I've become used to typing `kubectl get <resource> -A` when troubleshooting issues and would love to be able to see that view expressed visually in Octant.

[2019-10-31 18:50] wwitzel3 commented on #385
@NiranEC77 any luck with setting the accepted hosts?

[2019-10-31 18:52] wwitzel3 commented on #365
@strangeman any luck getting things working with those environment variables?

[2019-10-31 19:59] strangeman commented on #365
No luck yet. Looks like something wrong with websockets, because all other
static and dynamic content (like list of namespaces) works well.

On Thu, 31 Oct 2019, 21:52 Wayne Witzel III, <notifications@github.com>
wrote:

[2019-10-31 20:34] #394 closed

[2019-10-31 22:38] tomkerkhove opened #399 "Feature Request - Scaling History Graph"
Would be awesome if we could plot a graph for a deployment/scale set that shows the scaling history in terms of # / pods.

Source of input for this would be the events from scale set, I think.

[2019-10-31 23:08] GuessWhoSamFoo commented on #399
There are a few pieces here that needs to be addressed. Events only last for an hour by default on the apiserver to ease the load on etcd. Although the length of time is configurable, the better way is to have an event router and generate data from there instead. Then we'd be looking at how octant should ingest data and that would be a different issue.

Another approach is to have octant in-cluste

[2019-11-01 16:58] moderation commented on #385
I'm getting the same panic and can reliably reproduce by clicking on the first entry in a section ie. Pods, Deployments etc. Running on RHEL 7 and compiled from source at master.
[code]

[2019-11-01 17:29] wwitzel3 commented on #385
@moderation the error you are getting is due to a nil ref error in one of our queryer methods. That is going to be fixed today (see #400). The error @NiranEC77 is getting is related to our origin check for websockets and is unrelated.

[2019-11-01 17:45] wwitzel3 commented on #395
I think the service account error might be a red herring in this case. That can be a normal error until the cache for a given namespace has loaded. We are fixing an error in our queryer that is known to cause a panic. (see #400).

We will be releasing a 0.9.1 with this fix to see if it resolves this and some other reported runtime panic errors.

[2019-11-01 20:31] GuessWhoSamFoo commented on #391
With the config below, I don't get terminated port forwards but a different bug where all the container ports attempt to forward from the UI. Are you able to share more information about your config?

[code]

[2019-11-02 20:45] peterrosell commented on #150
This worked in version 0.6.0-0.8.0, but not anymore. Tested in version 0.9.0 and 0.9.1. I'm running on Ubuntu 18.04 and have two files specified via the environment variable KUBECONFIG.

[2019-11-04 08:59] nitinnbisht commented on #391
Here you go

`---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "3"
  creationTimestamp: "2019-10-25T11:49:15Z"
  generation: 9
  labels:
    app: locust-locust
    chart: locust-1.1.1
    component: master
    heritage: Tiller
    release: locust
  name: locust-master
  namespace: locust
  resourceVersion: "4785226"
  selfLink: /apis/apps/v1/

[2019-11-04 14:31] tomkerkhove commented on #399
That's an interesting comment - I would not run Octant in-cluster but an event router would be required which then stores the data for you. That might be a bit of overkill in terms of what Octant does.

Would it make sense if you just rely on the event retention on the apiserver and use that? It gives a fair understanding of last hour (and more if configured otherwise), otherwise you'd have to rol

[2019-11-04 20:48] wwitzel3 commented on #358
https://github.com/mitchellh/gon

[2019-11-05 10:56] #150 closed

[2019-11-05 10:57] wwitzel3 commented on #150
Fixed in master, will be apart of the nightly build tomorrow.

[2019-11-05 13:27] wwitzel3 commented on #395
@PsychoSid Please try again with 0.9.1 this issue should be resolved now.

https://github.com/vmware-tanzu/octant/releases/tag/v0.9.1

[2019-11-05 13:27] #395 closed

[2019-11-05 18:39] dlaidlaw commented on #207
This bug still exists. Octant really hammers the kubernetes api (unsuccessfully) as long as the creds are expired. Many times per second until the creds are restored or octant is killed.

[2019-11-05 19:22] wwitzel3 commented on #207
@dlaidlaw thank you for the update, sorry this is still creating a bad experience for you, this is a tough error for us to capture. Not impossible, but we'll have to consider our options. I'll try to spend some time getting the AWS credential helper setup with an EKS cluster so I can try to determine the best way to handle this situation.

The error is being generated and printed from the vendored

[2019-11-05 19:29] dlaidlaw commented on #207
Thanks. I was looking into that code to see if I could figure out a solution. Because it is not happening in your code base, there is a problem! Unfortunately, the AWS credentials are assumed roles, which expire after 1 hour (max ttl). We do not use AWS user credentials, just the assumed role.

[2019-11-05 23:50] GuessWhoSamFoo opened #404 "Event messages are sorted inconsistently"
![event-sort](https://user-images.githubusercontent.com/10288252/68255951-8aa15a00-ffe3-11e9-959e-d1acf8e992f6.gif)

Emitted events should appear chronologically and should not move around on a table component.

[2019-11-06 18:02] alanmeadows opened #405 "Custom Resource view doesn't align with kubectl"
The view octant provides for custom resources is limited in usefulness as it does not take advantage of the rich column data that kubectl can display defined within the CRD.  My expectation is that there would be parity between these two views in terms of a listing of objects.

For instance:

![image](https://user-images.githubusercontent.com/716166/68324446-3dbd9200-007c-11ea-918b-ca021a92daa9.pn

[2019-11-06 18:16] jonasrosland opened #406 "Write up a 0.10 release blog post"
Write up a blog post for 0.10, with information about:

* What major news are included in 0.10 - application view?
* Big changes that has happened to Octant since initial open source release (perhaps a quick plugin overview? maybe that should be it's own blog post, but is worthwhile mentioning quickly here) - last blog post was in August
* The new release cadence, and why that will happen
* Nightl

[2019-11-07 12:50] dlaidlaw commented on #207
In the latest octant version, 0.9.1, the error on credentials timeout has changed to:

`E1107 08:43:52.454671   72522 reflector.go:125] pkg/mod/k8s.io/client-go@v0.0.0-20190620085101-78d2af792bab/tools/cache/reflector.go:98: Failed to list *unstructured.Unstructured: Unauthorized`

This is still repeated about a hundred times per second. The fan on my laptop is running on medium because of it as w

[2019-11-07 21:39] alanmeadows commented on #341
Is there a relationship between this and https://github.com/vmware-tanzu/octant/issues/405?

[2019-11-07 22:02] #256 closed

[2019-11-07 22:02] #204 closed

[2019-11-07 22:03] wwitzel3 commented on #391
Fixed in master, will be in the next nightly build and part of the 0.10 release later in the month.

[2019-11-07 22:03] #391 closed

[2019-11-07 22:16] GuessWhoSamFoo opened #410 "Update brew formula to use build.go"
Based on changes in #408 , the brew formula in 0.10 will need to be manually updated

[2019-11-08 13:18] wwitzel3 opened #412 "Simplified View"
- [ ] create simplified view module
- [ ] make simplified view the default
- [ ] create donut graph svg component (ref: https://medium.com/@heyoka/scratch-made-svg-donut-pie-charts-in-html5-2c587e935d72)
- [ ] create a details view of the simplified view (details in spec doc)

We will use our existing FlexLayout to generate the grid of Workloads.

Spec Doc: https://docs.google.com/document/d/1ljgq

[2019-11-08 14:44] alexbrand opened #413 "Add keyboard shortcuts to navigate UI"
It would be amazing to be able to move around different sections of Octant using the keyboard.

I have been noodling for a while on what the UX could be like... Two potential approaches stand out:
- [Alfred](https://www.alfredapp.com/)-style shortcut / pop-up: ctrl-k (or something else) opens up a modal with a text box. I can then type `pod`, the modal updates and shows `Overview -> Workloads -> P

[2019-11-08 15:07] wwitzel3 commented on #413
Thanks for this suggestion, I really like this idea. If this was something you were interested in contributing, I'd be happy to review and help in anyway I can.

I think the Alfred style would be, easier initially, only because there would be less determining what the shortcuts would be, since it would just be filtering a list of destinations.

Eventually having some defined shortcuts, so, by 1.0,

[2019-11-08 15:28] alexbrand commented on #413
Yeah! I think I can prototype something to see what it looks like 👍

[2019-11-08 19:17] moderation commented on #140
I've updated the issue title. Would be awesome to see a Contour plugin particularly as Contour just went 1.0.0. Maybe in time for KubeCon? :smile:

[2019-11-08 19:29] jdundondev opened #417 "Unable to access from remote browser"
I'm trying to connect to Octant from a remote machine (Mac running Chrome). I start Octant on my K8S master node as follows:

$ OCTANT_LISTENER_ADDR=10.25.255.80:8900 octant --disable-open-browser

but it dies with the following message.

Should I be able to do this, and if so, how?

2019-11-08T11:22:49.621-0800	INFO	module/manager.go:79	registering action	{"component": "module-manager", "actionPa

[2019-11-09 06:28] rajibmitra commented on #260
/assign rajibmitra

[2019-11-09 11:24] strangeman commented on #365
We figured out this issue, had a problem with Nginx.

[2019-11-09 11:24] #365 closed

[2019-11-09 13:59] wwitzel3 commented on #260
@GuessWhoSamFoo do we still want to do this now that #408 is merged?

[2019-11-09 22:56] GuessWhoSamFoo commented on #260
mage does remove the need for worrying about CLI code and have graph dependencies so the build script can be simplified. I think it is okay to leave open

[2019-11-11 14:24] bryanl opened #420 "Service listing should show port rather than target port"
Service listing currently shows the target port which isn't useful since you actually want to the service port.

[2019-11-11 21:41] GuessWhoSamFoo commented on #64
The best way to approach this is to create a port forward manager and move this into `StateManager` so that port forward connections will get access to an `Alerter`.

Pulling back on this issue for now due to prioritizing other features for kubecon

[2019-11-12 14:47] wwitzel3 opened #421 "Consider allowing plugins to add actions to components."
Currently plugins can add new components and assign them actions, but they can not add / extend existing components. For example summaries that come out of the various printers might benefit from adding plugin related actions.

Explore this idea in more detail by creating a proposal document.

[2019-11-13 14:17] bryanl opened #422 "Gracefully handle situation when crd is not installed"
If a CRD is not installed, Octant is upset. Instead of erroring, create a method to inform the user of the issue and a possible solution.

[code]

[2019-11-14 13:45] dlaidlaw opened #423 "Unable to generate all tabs for object"
Octant version:

The following error output is repeated slightly more than once per second.
[code]

It looks like octant cannot parse that object for some reason. Could it be because of the kapp annotations?

[2019-11-14 19:31] alexbrand commented on #413
@wwitzel3 @bryanl I put together a prototype of what I was envisioning (inspired by Alfred/Slack's quick-switcher).

Here are some GIFs that showcase the UX.

Filter down the list and hit enter to go there:
![2019-11-14 13 23 35](https://user-images.githubusercontent.com/545723/68889512-afcc5180-06e2-11ea-8aa3-05c00f6e0afa.gif)

The arrow keys can be used to go up or down in the list:
![2019-11-14

[2019-11-14 23:47] wwitzel3 commented on #413
@alexbrand I love this!

[2019-11-15 00:47] deorbit opened #424 "Logging activity in terminal when unauthorized consumes a lot of CPU."
`octant: stable 0.9.1`

Because of the excellence of Octant, I solved the problem I was troubleshooting with my CRDs quite quickly, but neglected to terminate Octant. I have temporary credentials with this cluster, so eventually Octant started complaining about access. The first indication of this was excessive fan noise from my laptop. A survey of processes showed multiple log entries per second

[2019-11-15 21:18] GuessWhoSamFoo opened #425 "Expose octant events to plugins"
From slack: https://kubernetes.slack.com/archives/CM37M9FCG/p1573802430117600

Example use case: allowing querying namespaces to generate more specific keys for use with printers.

[2019-11-16 00:57] sigmonsays opened #426 "wrong mode on in-cluster configuration"
the default mode of 256 on the volume secret does not work correctly for the user in the container to read the secret.

I built the image using the dockerfile from https://hub.docker.com/repository/docker/sigmonsays/octant.

snippet from https://github.com/vmware-tanzu/octant/blob/master/examples/in-cluster/deployment.yaml#L39

fix is this
[code]

[2019-11-16 01:07] antoninbas opened #427 "Consider checking-in code generated by mockgen"
**Description of the problem**

Currently that code (e.g. `github.com/vmware-tanzu/octant/pkg/store/fake` package) is not checked-in. This creates issues for other projects which use Go module support and use `github.com/vmware-tanzu/octant` as a dependency, as is the case when creating plugin executables. In particular, the `go mod tidy` command needs to [record test dependencies in the go.mod fi

[2019-11-16 01:30] wwitzel3 commented on #427
We talked about this and I think we have decided, yes. This is something we want to do. @GuessWhoSamFoo @bryanl unless you object, we'll have @antoninbas draft up a PR.

[2019-11-16 01:34] antoninbas commented on #427
Thanks a lot for the quick reply @wwitzel3. I will try to draft a PR over the weekend.

[2019-11-16 02:12] bryanl commented on #427
My original concern was git conflict hell. Breaking go mod is a bigger deal, so we might as well check them in.

[2019-11-16 02:29] antoninbas commented on #427
@bryanl I'll add a CI check to make sure that the generated files were generated with the "correct" mockgen version and are up-to-date

[2019-11-16 03:47] antoninbas commented on #427
Opened the PR for this. I confirmed that it solved the `go mod tidy` issue.

[2019-11-16 12:45] #427 closed

[2019-11-16 21:36] jdolitsky commented on #178
Hi, I ran into the same issue. Needing to restart octant to check plugin changes during development etc.

I put together this script to autobuild the plugin and restart octant on source changes: https://gist.github.com/jdolitsky/34b67113afe515e096064a4d01fd4dd6

[2019-11-16 21:49] jdolitsky commented on #178
Would it be useful to add some flag like `--watch-plugins`  that periodically re-checks/re-loads the plugin directory?

[2019-11-16 21:57] bryanl commented on #178
Octant should be able to restart a plugin or plugins. Or perhaps you kill the plugin and Octant could could restart registered plugins. We will draft upma solution and tag the issue.

[2019-11-17 02:37] ImJasonH commented on #178
Just heard of this script to help with plugin development, which looks promising: https://gist.github.com/jdolitsky/34b67113afe515e096064a4d01fd4dd6

I haven't tried it yet, but I plan to when I have time to play with plugin development again.

[2019-11-17 05:57] jdolitsky commented on #178
That would work great. I just tried to kill the plugin process manually, and Octant falls into a bad state, w/ this in the logs over and over:
[code]

The webapp remains available, but the lefthand menu then disappears:
![Screen Shot 2019-11-16 at 11 44 03 PM](https://user-images.githubusercontent.com/393494/69003645-89b5d580-08cb-11ea-9d6f-205b47863f06.png)

Problem resolved by restarting octant

[2019-11-18 04:44] bryanl opened #430 "Visualize network policies or network topology graphs"
Todo: is this even possible?

[2019-11-18 15:59] alexbrand commented on #413
Yeah, I think it came out pretty cool! Should I open a PR for this? Wondering about next steps.

[2019-11-18 16:34] wwitzel3 commented on #413
Yeah I'll be happy to review it if you take the time to put up a PR. Thank you.

[2019-11-19 03:32] mengdie-song opened #432 "octant-plugin K8s API compatibility issue"
Hi octant team,

When I am writing the octant plugin for antrea, I need to import octant to antrea project.
However, these two projects have been using different K8s API versions.

Currently, I have upgraded antrea K8s version to 1.15.0 to import octant@v0.8.0, since octant K8s API version is 1.15.0.
But for octant master branch and v0.9.0, K8s version is kubernetes-1.18.0-alpha.0.
I have already

[2019-11-19 09:14] zedtux opened #433 "Container's attributes formatting for long values and command"
![Screenshot 2019-11-19 at 09 41 34](https://user-images.githubusercontent.com/478564/69130561-005ff800-0ab1-11ea-99df-d6e182ccf347.png)

There are container's attributes that will always be too long for the block to be displayed correctly, so they have to be treated differently.

## Command & Args

The very first one that needs a lot more love is the `command` one, which could be a bash script so

[2019-11-19 13:44] zedtux commented on #433
This is also true for the ConfigMap's **Data** block where the content could be much better formatted.

[2019-11-19 16:29] alexbrand commented on #420
I can pick this up.

[2019-11-19 20:08] danielhelfand opened #436 "Feature Request: octant start and octant stop"
**Version:** 0.9.1

It would be nice to have the ability to start up octant without leaving it hanging from the command line. Are there plans to add `octant start` and `octant stop` commands to make it simple to leave octant running and stop it?

[2019-11-20 09:39] jungopro opened #437 "Octant Error on Windows"
[code]

**Environment**

- Windows 10
- Dark site (no internet)
- Octant 0.9.1

**More Info**

- I'm able to access cluster using kubectl
- I have multiple kubeconfig files (1 for each cluster)
- KUBECONFIG is configured and verified via kubectl
- I tried running octant with --kubeconfig flag and got the same error

[2019-11-20 15:26] alexbrand commented on #404
Was this fixed by #419?

[2019-11-20 15:27] wwitzel3 commented on #404
Yes.

[2019-11-20 15:27] #404 closed

[2019-11-20 15:34] #420 closed

[2019-11-20 16:07] alexbrand commented on #437
@jungopro Can you try getting more logs by passing `-v=10` to octant?

[2019-11-21 01:54] GuessWhoSamFoo commented on #436
Where would logs be expected to go with start and stop commands?

[2019-11-21 04:47] danielhelfand commented on #436
For my particular case, I would not want to see any logging after running start. However, there could be a flag associated with the command (e.g. —show-logs) that could support showing logs instantly after starting.

There could also be a completely separate logs command that could be run to show logs if you don’t run —show-logs after starting octant.

[2019-11-21 07:20] mikeroySoft commented on #436
What if we had ~/.octant/logs/ ?

[2019-11-21 10:56] mengdie-song commented on #134
We have met the same issue here and thought it would be better for octant to support in-cluster config.

[2019-11-22 15:51] bryanl commented on #436
There are no current plans. Is it not possible to background octant and redirect stderr?

[2019-11-22 18:40] nstogner opened #438 "Show resource diff on edit"
With the spirit of octant being to help educate developers on kubernetes, it would be nice if the GUI resource editing functionality provided a diff of the actual resource yaml to allow users to easily feed their edits back into the original resource manifests (usually existing in version control somewhere).

[2019-11-24 17:45] wwitzel3 commented on #438
I like this idea, but I have some questions about how you envision this working.

- Once an edit was performed where would you expect to see the diff?
- How long would that diff remain around?
- In the case where I've used Octant to make an edit and then some YAML that is applied that also makes an edit, what diff would be shown?

[2019-11-24 17:52] wwitzel3 commented on #436
Though Octant uses a built-in webserver and browser to serve its UI, at this time it is primarily designed to be a single binary, local application. Eventually Octant will better abstract away the details of how it is functioning (for example using Electron), but for now, those details are exposed.

If you find yourself wanting to do process control of the Octant binary you may consider using some

[2019-11-24 17:52] #436 closed

[2019-11-24 17:58] wwitzel3 commented on #432
Right now we currently have no plans around this. I think we can do a better job here though. I will give this some thought and work with @bryanl and @GuessWhoSamFoo to determine what we want our official versions to be and what it looks like when we plan to change those versions between releases.

[2019-11-24 18:01] wwitzel3 commented on #417
Sorry it tooks me so long to respond, this issue for some reason missed my inbox.

You'll need to also set the the `OCTANT_ACCEPTED_HOSTS`

    OCTANT_ACCEPTED_HOSTS - set to comma-separated string of hosts to be accepted. (e.g. demo.octant.example.com,awesome.octant.zr)

[2019-11-24 18:03] wwitzel3 commented on #417
You can see the full list of environment variables and flags at https://octant.dev/docs/master/getting-started/

[2019-11-24 18:08] wwitzel3 commented on #405
@alanmeadows thanks for reporting this, this appears to be a bug.

If a CRD defines AdditionalPrinterColumns they should be rendering in our table view.

https://github.com/vmware-tanzu/octant/blob/master/internal/printer/customresource.go#L33 is the code in question.

[2019-11-24 18:09] wwitzel3 commented on #341
@alanmeadows nope, this is a different issue, what you reported in #405 is a bug.

[2019-11-24 18:14] wwitzel3 commented on #424
This is a problem we need to some up the a good solution for.

@bryanl and @GuessWhoSamFoo We will probably end up having to vendor the part of the code that logs out the error. Currently we pass off control to this reflector code and if our authorization fails/goes away, we have no way of interrupting the control flow.

related #207

[2019-11-24 18:17] wwitzel3 opened #439 "Control the error reporting of informers."
We need a good solution for better handling the errors that the informers spam from go routines when they lose authorization to the cluster.

Current thought is to vendor the code that starts the go routine so we can inject a context that we can cancel.

related #207 #424 #556

[2019-11-24 18:19] wwitzel3 commented on #430
We could use the graphviz component to do this?

[2019-11-24 18:21] wwitzel3 commented on #422
Might also be related to #423

[2019-11-24 18:32] #385 closed

[2019-11-24 18:55] alanmeadows commented on #405
@wwitzel3 Thanks!

Appreciate pointing out the code location.  My brief take would be that per https://github.com/kubernetes/apiextensions-apiserver/blob/master/pkg/apis/apiextensions/types.go#L34 that while it supports "global" AdditionalPrinterColumns (`crd.Spec.AdditionalPrinterColumns`) it is not yet supporting version specific AdditionalPrinterColumns (`crd.Spec.Versions[].AdditionalPrinterCo

[2019-11-24 19:07] bryanl opened #440 "Add slider component"
Slider component will slide out from the bottom. Content will be handled in a future commit.

[2019-11-24 20:23] wwitzel3 commented on #405
@alanmeadows yep, that looks like the case to me as well, if you're up for it, and created a PR I'd be happy to review it and help get it merged in.

[2019-11-25 02:15] mengdie-song commented on #432
Thanks Wayne!
It will be very helpful for antrea-octant-plugin. Antrea will upgrade K8s API automatically when I import octant. For now, we have to keep these to projects K8s API consistent.  Looking forward to know official K8s API version for your future release.

[2019-11-25 19:32] glyn opened #442 "Include kube-system namespace in drop-down"
`kube-system` does not seem to be included in the namespace dropdown. I installed `tiller` into `kube-system`, so it would be helpful to be able to use `octant` to probe objects in that namespace, same as any other.

Not sure what version of `octant` I'm running, but I installed it using homebrew a few minutes ago.

[2019-11-25 19:37] GuessWhoSamFoo commented on #442
Do you have permissions to the `kube-system` namespace from the current context?

[2019-11-25 20:11] glyn commented on #442
Yes. For example, `kubectl get pods -n kube-system` lists all the pods in that namespace.

[2019-11-25 21:54] GuessWhoSamFoo commented on #442
Can you post the console output of `octant -v`? This case should be handled (e.g. can't reproduce this on a kind cluster) so there might be a bug somewhere or cluster configuration that we haven't considered.

[2019-11-25 22:00] glyn commented on #442
`octant -v` seems to keep on going, but I've captured a [prefix](https://gist.github.com/glyn/b81b230ed581b3131ff09223d3cf103d) of it. Hope that's sufficient.

[2019-11-25 22:01] glyn commented on #442
I'm using a GKE cluster.

[2019-11-25 23:27] SDBrett opened #443 "Site has poor accessibility score"
The website gets an accessibility score of approx 63 (varies per page). Accessibility improvements can be made by:

-  Increasing the contrast ratios between foreground and background colours. Changes required still align to VMware branding colour standards.
- Use titles with links
- Use image alt text
- Use iframes titles.

cc @jonasrosland

[2019-11-25 23:52] SDBrett opened #445 "Ruby gem vulnerability CVE-2019-13117"
From bundle audit

Name: nokogiri
Version: 1.10.4
Advisory: CVE-2019-13117
Criticality: Unknown
URL: https://github.com/sparklemotion/nokogiri/issues/1943
Title: Nokogiri gem, via libxslt, is affected by multiple vulnerabilities
Solution: upgrade to >= 1.10.5

Vulnerabilities found!

[2019-11-26 07:00] hellobhaskar opened #447 "Octant crashing"
Our octant instance is running behind nginx reverse proxy. We have RP configured with below settings. our octant is running as pod inside kubernetes cluster.

 proxy_set_header HOST $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwaded-For $scheme;

        proxy_pass http://octant.utils.svc.

[2019-11-26 22:04] #443 closed

[2019-11-27 01:42] GarySmith opened #448 "Dashboard still not embeddable"
In the fix for issue #204 , a few dash files were moved from internal to pkg so that they could more readily called from another app (thanks for that!). But alas, it is still not quite there. in pkg/dash/dash.go, Run requires being passed a logger object that must implement an interface (Logger) that is in an internal package, so there is no way to call this externally.

internal/commands/dash.go

[2019-11-27 02:32] #445 closed

[2019-11-27 10:49] GrahamDumpleton opened #449 "Add option to allow overriding base URL for hosting at sub URL of site."
Currently the web application is hosted at the root of the site. Provide an option such as ``--app-base-url`` so that you can host it at a sub URL. This would be useful when needing to use a front end proxy, but where the proxy wants to host it at a sub URL on ``/console``. If this is supported using existing options or environment variables, I can't find a way of doing it.

You also can't have th

[2019-11-27 17:41] wwitzel3 commented on #449
Hi @GrahamDumpleton,

We've done a poor job of letting flags and variables that were intended to aid development leak out to the user level, I apologize for that. With that said, Octant is an application and is intended as a single client tool and at this time we have no plans to support hosted versions of Octant.

Currently we use the default web browser on the system as our UI client. Octant wil

[2019-11-27 17:41] #449 closed

[2019-11-27 17:46] wwitzel3 commented on #447
Hi @hellobhaskar

I apologize for the confusion as we have let some of the features we have added to aid in development leak out in to the usage of Octant.

Though Octant currently uses a web browser for the client UI currently, it is a local application that isn't really designed or currently intended to be run a remotely hosted fashion. Eventually Octant will ship with a client built using Elect

[2019-11-27 17:46] #447 closed

[2019-11-27 17:48] wwitzel3 commented on #426
Hi @sigmonsays

We are removing the in-cluster example from the repo, see #450.

[2019-11-27 17:48] #426 closed

[2019-11-27 17:51] wwitzel3 commented on #417
Hi @jdundondev just wanted to let you know I'm closing this issue, you can read a full explanation in #450.

[2019-11-27 17:51] #417 closed

[2019-11-27 17:53] wwitzel3 commented on #318
Hi @pieterv-icloud-com closing this issue, you can read the explanation here #450.

[2019-11-27 17:53] #318 closed

[2019-11-27 17:56] wwitzel3 commented on #136
Just a heads up, closing this, more details can be found in #450.

[2019-11-27 17:56] #136 closed

[2019-11-27 18:04] wwitzel3 commented on #448
@GarySmith Ahh, ok, I think at a minimum we can move the log interface to pkg so that is can be implemented. I don't know if we want all of our logging code to move up in to pkg because then we will have people importing and depending on it and I think we want to keep the ability to be able to switch up and change our logging code on a whim.

[2019-11-27 19:27] GarySmith commented on #448
Ok, that makes sense. Just need some ability to simply construct a logger and pass it along to Run, and keeping the details and implementation private is fine.

[2019-12-02 17:29] wwitzel3 opened #453 "Allow Octant to have a default path at startup."
Similar to setting a default namespace, this would allow octant to have an arbitrary default path that would be redirected to at start up.

[2019-12-02 17:30] wwitzel3 opened #454 "Feature: start octant and redirect to plugin path"
There are cases where a cluster may not exist when Octant is started. It should be possible to create a plugin that does the work to generate the cluster. In order to make this happen, allow octant to startup without a kubeconfig and redirect to a specified path at startup.

- [x] #453
- [x] #362

[2019-12-04 11:27] bryanl opened #457 "Handle a deleted namespace"
When viewing a namespace and it is deleted, Octant should inform the
user of the next step.

[2019-12-04 14:14] bryanl opened #458 "Expose a deployment or other workload"
Octant should be able to expose a workload.  How do you `kubectl expose`?

[2019-12-04 18:44] wwitzel3 commented on #134
See #450

[2019-12-04 18:44] #134 closed

[2019-12-04 19:11] wwitzel3 opened #459 "Plugin: consider provide current kubecontext to plugins?"
The author of the Helm plugin would like to add a Delete action to the plugin.
https://github.com/bloodorangeio/octant-helm/issues/2

Currently the plugin author would have to reimplement the Helm delete code and then call our DashboardClient.Delete method.

If the plugin had access to the kubecontext, the plugin could directly call the Helm delete code, which creates its own client.

[2019-12-04 20:30] bryanl commented on #459
I added the CRUD API as a safety net to stop rouge plugins from doing something insidious. If we expose the context, then plugins would be free to do more things, bit what is the impact on Octant? If we were to move forward with this, we'd need some sort of disclaimer that plugins can do anything they want with no safe guards.

Now, in practice, what does this mean for plugin authors? More complex

[2019-12-04 20:37] wwitzel3 commented on #459
Yep, we talked about that on slack. See https://kubernetes.slack.com/archives/CM37M9FCG/p1575483873227200?thread_ts=1575483873.227200&cid=CM37M9FCG

This issue is just to start a discussion around what a solution might be.

The solution maybe something to upstream Helm that decouples configuration of the client and the delete interface from the public delete call.

[2019-12-04 21:03] wwitzel3 commented on #459
A plugin can still easily do something insidious even without this feature. Nothing stops a plugin from fetching the kubeconfig from the filesystem once Octant starts it.

I do think that removing the need for plugins to have to think about if their calls to the API are going to the right place is a great reason to not expose the context directly.

I can't think of a way to expose the context that

[2019-12-04 21:52] jdolitsky commented on #459
FYI - this is a workaround that I started to legitimately consider because I do not have access to the context. It's obviously not the ideal direction... I'll play around with this some more and report back.

I suppose this is a non-issue for CRDs, since the controller would take the responsibility of cleaning up the necessary things on delete.

[2019-12-05 20:07] alanmeadows commented on #405
@GarySmith want to take a look at a PR for this?

[2019-12-05 20:15] GarySmith commented on #405
@alanmeadows Sure, I can do that

[2019-12-08 21:30] bryanl opened #462 "Update octant app favicon to match site favicon"

[2019-12-09 15:52] danielhelfand opened #464 "Documentation on Removing a Plugin"
Not sure if this is documented or shown somewhere already, but wanted to ask if there's any information on removing a plugin from Octant? If not available, it would be nice to add some information with the [plugin documentation](https://octant.dev/docs/master/plugins/).

[2019-12-09 15:58] wwitzel3 commented on #464
To remove a plugin, you would delete the binary for the plugin from the octant plugin folder. Which defaults to `~/.config/octant/plugins`. I think added a note to the plugin documentation that to remove a plugin, you delete the binary is a good idea.

[2019-12-09 16:30] texanraj opened #466 "Overall services view in Octant"
Is there a way in Octant to see the connection between various services? Right now I can see only individual services. Thanks.

[2019-12-09 17:42] #464 closed

[2019-12-09 22:29] danielhelfand opened #468 "Community Development Around Plugins"
What are the thoughts at this time around developing plugins and contributing them so that others can use these plugins? How would one go about using a plugin that has been contributed?

[2019-12-09 22:41] wwitzel3 commented on #468
We are encouraging folks to use the `octant-plugin` topic for their repos. See: https://github.com/topics/octant-plugin

As of right now we don't maintain a curated list of "official" octant plugins. This maybe something we will look in to doing as we get closer to 1.0.

[2019-12-09 22:44] danielhelfand commented on #468
@wwitzel3 Thanks! I'll check out what's available under the topic.

[2019-12-10 15:32] alexbrand opened #469 "Add community meeting time to octant.dev/community"
https://octant.dev/community mentions the community call takes place every 2nd Tuesday, but does not specify the time.

[2019-12-10 16:52] GarySmith commented on #405
It looks like it is more complicated than just not rendering version specific columns. Even global printer columns do not work. For example, load (with `kubectl apply -f`) the CRD, `internal/printer/testdata/crd-additional-columns.yaml`, and the corresponding CR, `internal/printer/testdata/crd.yaml`, and view these custom resources in the octant UI -- none of the additional columns are printed. Th

[2019-12-10 17:10] wwitzel3 commented on #405
Thank you for looking at this @GarySmith . I followed the steps you mentioned, of using the testdata CRD and it indeed does not render the output table correctly and the tests do seem to suggest the renders are working.

I'm going to dig a bit deeper in to this, I'll report back what I find.

[2019-12-10 17:12] #469 closed

[2019-12-10 18:15] wwitzel3 opened #471 "Plugin Wishlist"
This issue is used as a placeholder to track what plugins might be useful for Octant.

[2019-12-11 13:37] Brzhk opened #472 "Allow setting dark theme via an env var or a flag"
Pretty self-explanatory; but i'd like to set the 'default' theme to dark, through an env-var or an argument.

Thanks!

[2019-12-11 14:51] wwitzel3 commented on #472
@Brzhk I think this would be nice. We have some other enhancement requests similar to this. I think it is likely that we will tackle them all at the same time when we implement the idea of a local settings file for Octant.

[2019-12-12 21:21] #413 closed

[2019-12-13 01:44] wwitzel3 opened #474 "Quick-Switcher event key (k) is too greedy."
Anytime the `k` key is typed the quick switcher is activated. Field edits / typing in to the TTY terminal on the issue-135 feature branch.

Place the quick switcher behind a more complex key sequence to avoid conflicts with data entry.

[2019-12-13 14:34] alexbrand commented on #474
Ah yeah. The naked `k` is definitely going to conflict with just regular typing. Thanks @wwitzel3 .

I think I am gonna go with `ctrl + k`. Open to other suggestions.

[2019-12-13 14:55] bryanl opened #476 "Remove typescript warnings in content switcher"

[2019-12-13 15:16] #474 closed

[2019-12-14 20:29] #476 closed

[2019-12-14 20:29] #462 closed

[2019-12-14 20:32] bryanl opened #480 "Show workload summary"
Create a new module that shows workload summaries. Workloads are items that ultimately create pods. The summary should include a count of pods and their status. If metrics server is available, also show requests and limits for cpu and memory.

[2019-12-16 12:40] jnavarro86 opened #482 "Resources usage information"
Thanks for developing this awesome tool guys!

I was wondering if there are plans to add resources usage info in the widgets of K8s resources like pods or nodes. Would it be useful to see things like % of  CPU/Memory that the resources are using from the allocated requested/limits?.

[2019-12-16 12:42] bryanl commented on #482
This is currently in process. The first PR is https://github.com/vmware-tanzu/octant/pull/452. There will be a couple of follow on PRs to link this new view to a new resource viewer that will include all the resources in a workload.

[2019-12-16 12:42] #482 closed

[2019-12-16 15:28] bryanl opened #483 "Show difference between CRD versions"
Given a CRD with multiple versions, it should be see how a CRD
changes over the version.

[2019-12-16 20:59] danielhelfand opened #485 "Update Chocolatey Package to 0.9.1"
The [package](https://chocolatey.org/packages/octant) is still on version 0.8.0. Would be nice to get the latest version in.

[2019-12-17 02:19] yujunz opened #486 "Feature request: log aggregation"
It would be nice to aggregate the logs by deployment/daemonset/statefulset/service and etc since It is common in Kubernetes that a workload is served from multiple replicas of pods.

When an end user checks log *for an application*, he is not looking for an arbitrary pod but the exact pod serving the request or several pods if there is some kind of load balancer. However there is no quick way to d

[2019-12-17 03:24] #480 closed

[2019-12-17 19:20] bryanl opened #489 "Add crd conditions to crd view"
Blocked by #566

[2019-12-18 00:04] GarySmith opened #491 "External plugins not unit testable"
We are developing an octant plugin that does not reside in the octant source tree and it appears that unit testing portions of it are not feasible. For example, the handleFunc that the plugin supplies (which is returned by router.Match) is invoked with a service.Request object, and service.Request contains private fields (dashboardClient, baseRequest) that cannot be assigned to or even mocked out.

[2019-12-18 02:16] #440 closed

[2019-12-18 02:17] wwitzel3 commented on #412
closed by #452

[2019-12-18 02:17] #412 closed

[2019-12-18 02:24] wwitzel3 commented on #43
added in #488

[2019-12-18 02:36] wwitzel3 commented on #442
I tried the latest Octant against a GKE cluster and I was able to access the kube-system namespace. What version of kubernetes is your GKE cluster and what version of octant (`octant version`) are you running?

[2019-12-18 02:39] wwitzel3 commented on #466
Hi @texanraj , I was wondering if you could expand on this some.

Where are you expecting to see these connections? How are you making these connections, can you provide some examples of configurations you are trying to visualize?

[2019-12-18 10:01] glyn commented on #442
The GKE master version is 1.14.8-gke.17. I updated to octant 0.9.1 and can now access the kube-system namespace.

[2019-12-18 10:01] #442 closed

[2019-12-18 17:12] GuessWhoSamFoo commented on #485
Updated 0.9.1 submission with the new requested package metadata from maintainers. Pending approval.

[2019-12-18 17:13] danielhelfand commented on #485
@GuessWhoSamFoo Thanks!

[2019-12-19 23:14] GarySmith commented on #491
The most immediate problem then is to fix the dashboard field in `service.Request` so that it is public. Simply renaming it to `Dashboard` conflicts with an existing function with the same name. I'm not sure whether the octant team would prefer to rename that function (and possibly break existing callers) or to rename the field to something else. Which would you prefer?

[2019-12-19 23:50] GarySmith commented on #491
Upon further re-inspection, the private `baseRequest` struct in contained in `service.Request` is even more problematic. Plugins that use the context in order to do meaningful work obtain it via `request.Context()`, and that `Context` function in turn is implemented by `baseRequest`. So writing a unit test also will require the ability to instantiate base request or somehow override the `Context()

[2019-12-19 23:52] bryanl commented on #491
After some deliberation, I've decided our current implementation of plugins is untenable. Going to look at a re-write and include a method to make them testable in the very near future.

[2019-12-20 01:17] kshafiee opened #492 "Customizing Octant UI to only show certain tabs"
My specific use-case: my end-user is not familiar with k8s native resources, such as pods, services, etc. Rather they are interested only in certain CRDs (Custom Resource Definitions), e.g., ML jobs they trigger in different AWS accounts

[2019-12-20 01:18] kshafiee commented on #492
@bryanl please let me know if I can provide more details, clarity on the use-case

[2019-12-20 16:11] GarySmith commented on #491
Thanks @bryanl for your attention on this; it is most appreciated. As a verification step, it would be good to create a sample plugin (much like the existing one) that is separate from the octant repository so that there are not any hidden dependencies on private/internal data or types.

[2019-12-20 18:55] wwitzel3 opened #493 "Alert user when an action does not exist."
When an action is performed we want to alert the user if the requested action does not have any handlers on the server.

[2019-12-20 19:06] wwitzel3 opened #494 "implement graceful shutdown semantics"
Currently octant does not shutdown all workers gracefully.

https://github.com/vmware-tanzu/octant/blob/master/internal/commands/dash.go#L110

[2019-12-20 19:12] wwitzel3 opened #495 "Move ClientRequestHandlers for start/stop portforward to Overview"
The start and stop port forward client request handlers should be moved out of Cluster Overview and into Overview.

https://github.com/vmware-tanzu/octant/blob/master/internal/modules/clusteroverview/clusteroverview.go#L124

[2019-12-20 19:15] wwitzel3 commented on #362
When this is fixed it will also take care of this TODO:

https://github.com/vmware-tanzu/octant/blob/master/internal/config/dash.go#L200

[2019-12-20 19:20] wwitzel3 opened #496 "Investigate if we need to call DynamicCache.RegisterOnUpdate"
Since the object store remains the same and only the client changes, we may not need to call RegisterOnUpdate.

https://github.com/vmware-tanzu/octant/blob/master/internal/objectstore/dynamic_cache.go#L443

[2019-12-20 19:30] wwitzel3 opened #497 "Alert user when unable to find a local port"
When creating a port forward if unable to find an open local port Octant should alert the user.

https://github.com/vmware-tanzu/octant/blob/db1afb6703d42db632c5903ed8990f9946b55a5f/internal/portforward/portforward.go#L89

[2019-12-20 19:33] wwitzel3 opened #498 "Merge PortForwardSpec and State"
These two structs can be combined.

https://github.com/vmware-tanzu/octant/blob/d70f934924833e98acd8cb40c388050716500aa9/internal/portforward/service.go#L49

[2019-12-20 19:37] wwitzel3 opened #499 "More tests for policy rules view."
Add better  / more complex set of tests for policy rules view.

https://github.com/vmware-tanzu/octant/blob/e19d377eee854fd8f611c2400f098be1c697c5a2/internal/printer/role_test.go#L102

[2019-12-20 19:39] wwitzel3 commented on #494
Could also address https://github.com/vmware-tanzu/octant/blob/d70f934924833e98acd8cb40c388050716500aa9/internal/portforward/service.go#L148 while doing this work.

[2019-12-20 19:40] wwitzel3 commented on #494
Could also be addressed while doing this work.

https://github.com/vmware-tanzu/octant/blob/4b957f1b6a21d9c07365728f68584241542333a6/pkg/dash/dash.go#L355

[2019-12-20 21:14] wwitzel3 opened #500 "Investigate removing duplicate copyObjectMeta functions."
- describer
- printer
- query
- store

All have their own version of `copyObjectMeta`. See if we can just have one version of this function.

https://github.com/vmware-tanzu/octant/blob/d37f9d94af94eadd7ff28d6acef8bd7d82f82e1d/pkg/store/get_as.go#L45

[2019-12-20 21:28] wwitzel3 opened #501 "Remove usage of deprecated crd.Spec.Version"
We want to remove our use of deprecated crd.Spec.Version

https://github.com/vmware-tanzu/octant/blob/e19d377eee854fd8f611c2400f098be1c697c5a2/pkg/navigation/navigation_test.go#L140

[2019-12-20 21:32] wwitzel3 opened #502 "Improve external IP status"
Currently the external IP status will display as `<none>` in instances where the status on the cluster if the length of IPs is 0. Sometimes the cluster provides better details when when the external IP is not set yet.

https://github.com/vmware-tanzu/octant/blob/bc20d7b3edc835570aea27906be85e189abb1693/internal/printer/service.go#L403

[2019-12-20 21:36] wwitzel3 opened #503 "Make volume in PVC and PVC list printer a link."
Volume should be a link.

https://github.com/vmware-tanzu/octant/blob/e19d377eee854fd8f611c2400f098be1c697c5a2/internal/printer/persistentvolumeclaim.go#L50

https://github.com/vmware-tanzu/octant/blob/e19d377eee854fd8f611c2400f098be1c697c5a2/internal/printer/persistentvolumeclaim.go#L157

[2019-12-20 21:53] wwitzel3 opened #504 "Non-existing ConfigMapRef causes summary tab to fail to load."
[code]

If you reference a config map in your environment variables that does not exist, the summary tab fails to load with no error. We should load the summary tab and highlight the error.

https://github.com/vmware-tanzu/octant/blob/d70f934924833e98acd8cb40c388050716500aa9/internal/printer/container.go#L407

[2019-12-20 22:36] wwitzel3 commented on #362
More TODOs that are covered by this.

https://github.com/vmware-tanzu/octant/blob/ec60edabf682a9eae61a95880a5883431934ac7b/web/cypress/integration/deployment.spec.js#L7

https://github.com/vmware-tanzu/octant/blob/0732f50263cfcc9dfa1056258aa19a1830990372/web/cypress/integration/plugin.spec.js#L7

[2019-12-20 22:40] wwitzel3 opened #505 "Create invalid filter style and context message."
Create an invalid filter style and context message when a filter that is entered is not valid/well formed.

[2019-12-20 22:41] wwitzel3 commented on #505
https://github.com/vmware-tanzu/octant/blob/d48f76ced7939d837c1995f6b43acebf3d54bd47/web/src/app/components/input-filter/input-filter.component.ts#L77

[2019-12-20 22:52] wwitzel3 opened #506 "Show a better loading screen."
We should show a loading screen while we wait for content response length to be greater than 0.

https://github.com/vmware-tanzu/octant/blob/d48f76ced7939d837c1995f6b43acebf3d54bd47/web/src/app/modules/overview/overview.component.ts#L148

[2019-12-20 23:11] dyennam opened #507 "Running a Dockerized version"
Hi, I am trying to create a dockerized version of octant so that we can host it on a VM.
 I created a docker image which runs without errors, but i am unable to access the dashboard.
`

    FROM ubuntu:18.04
    USER root

    # Install octant v0.9.1s
    RUN apt-get update && \
        apt-get install -y --no-install-recommends wget ca-certificates && \
        wget -q https://github.com/vmware-t

[2019-12-20 23:12] wwitzel3 opened #508 "Investigate using ViewChild for modal focusing."
We should try to avoid using nativeElement.querySelector to access the DOM. I think we can use `ViewChild` here for the same function.

https://github.com/vmware-tanzu/octant/blob/4ac8c5831071c0b75e7cfdc19b175dc6102f4d6c/web/src/app/components/quick-switcher/quick-switcher.component.ts#L88

[2019-12-20 23:17] wwitzel3 opened #509 "Add a list of custom resource definitions (crds)"
https://github.com/vmware-tanzu/octant/blob/ba5f25a99fba58a8333902256d4c4265d261f60d/internal/describer/customresource.go#L42

[2019-12-20 23:20] wwitzel3 opened #510 "Investigate creating a better error message for objectOwner"
Maybe show the current object and what ownerRef was being passed to Get?
Can we make this something the UI can display to show malformed or potential problems with objects?

[2019-12-21 18:12] alexbrand opened #512 "Add method to copy secret values into the clipboard"
When viewing a secret, it would be useful to have a way to copy the base64 decoded value of a secret into the clipboard.

Maybe something like this:

![image](https://user-images.githubusercontent.com/545723/71311952-74b0f280-23f3-11ea-9f72-f8692e724fef.png)

[2019-12-26 22:37] GarySmith commented on #483
In the current version on master, if a CRD has multiple versions, say v1 through v4, the resource will be repeated for each versionv (i.e. 4 times), but each copy will show the same, most recent version (v4). Attached is a screenshot showing that situation. Note that each of these 4 versions has a different set of columns and should be displayed differently.
![versions](https://user-images.githubu

[2019-12-27 05:10] mengdie-song commented on #432
@wwitzel3 Hi Wayne, is there any update for this issue? I am wondering which version of K8s API that Octant is going to use in the later release? Is it going to be an official version of K8s API?

[2019-12-30 15:54] bryanl opened #516 "workload viewer: handle metrics for new resources"
New pod resources cause an error until there are metrics. The issue
is that metrics supports is there, but metrics haven't been created
yet. (they will show up ~30s - 1m later)

[code]

[2019-12-30 17:18] dalvizu commented on #147
Any update on this? I can confirm this is not working in the latest version in homebrew:
``
 octant version
Version:  0.9.1
Git commit:  7c4bd4a03489aebba979a09aeda0c4c390650e94
Built:  2019-11-08T19:05:22Z
[code]

[2019-12-30 20:18] danielhelfand opened #517 "octant Delete Plugin"
Currently, you must run `rm ~/.config/octant/plugins/<plugin name>` to remove a plugin. It would be nice to be able to remove a plugin via the CLI instead so users don't have to remember the location of where plugin binaries are located.

The idea would be something along the lines of `octant delete plugin <plugin name>` would remove the plugin binary. Then that plugin will not be available when r

[2019-12-31 03:04] #485 closed

[2020-01-06 09:00] jungopro opened #518 "Problems when using Octant with multiple kubeconfig"
Hello

This is similar to #147 but I don't think this is resolved
I have multiple kubeconfig files that I'm using through the **KUBECONFIG** env var

**What I expected?**

- By default, running octant with no params will auto select the active context from the merged KUBECONFIG env var
- Using octant with --kubeconfig param will work regardless of the KUBECONFIG current values

**What actually hap

[2020-01-06 09:02] jungopro commented on #518
**Recommendation**: maybe allow running octant with **--noconfig** and simply allow adding the kubeconfig via copy-paste in the GUI?
This is a bit similar to the way **Kontena Lens** operates

[2020-01-06 15:38] wwitzel3 commented on #518
Thank you for the great reproduction steps. I will try to look at this. We do have an issue for allowing Octant to start without a kubeconfig #362 I think extending that to include the scenario where Octant fails to start because for whatever reason it was unable to load the active context would be a better experience as long as the error message was presented in the UI.

[2020-01-06 15:39] wwitzel3 commented on #362
As mentioned in #518 we can probably handle the case where the context provided fails to load, capture that error message, allow Octant to startup.

[2020-01-06 15:45] wwitzel3 commented on #517
Having some mechanism for getting at installed plugins is a good idea. I think having CLI commands could work, maybe in combination with having a button in Octant that opens the plugin folder using the system file browser.

[2020-01-06 18:03] GuessWhoSamFoo commented on #517
Plugin management as a whole should be added to the roadmap as it is something that should exist in 1.0

[2020-01-06 18:49] danielhelfand commented on #517
@GuessWhoSamFoo Agreed. Something to also install plugins I think would be nice long term.

I think the CLI makes the most sense as the way for users to manage plugins since plugin changes require a restart anyway. Doing it through the UI might be misleading as to why something isn't added or removed.

[2020-01-06 18:58] wwitzel3 commented on #517
We would like to remove having to restart to load/unload plugins as well #178 , which ties in to what @GuessWhoSamFoo is saying about having a good plugin story as part of our 1.0 roadmap.

[2020-01-06 21:47] rossfenrick commented on #506
imo it should just be the Large 72px × 72px Clarity Spinner component, centered in the page.
![octant-loading](https://user-images.githubusercontent.com/7506366/71851167-c5c71480-308a-11ea-9c38-3b2ca0f90922.png)

[2020-01-06 21:52] rossfenrick commented on #512
I'd recommend using Clarity's copy-to-clipboard icon here
![octant-copy](https://user-images.githubusercontent.com/7506366/71851522-9d8be580-308b-11ea-8971-bcd256396e96.png)

[2020-01-08 16:42] wwitzel3 opened #520 "object aware YAML editor"
Have an object aware YAML editor for Octant.

[2020-01-08 16:56] wwitzel3 commented on #432
@mengdie-song So we plan on fixing this so that you no longer need to import octant to write a plugin. We are going to extract the plugin library to avoid things just like this.

[2020-01-08 16:58] wwitzel3 opened #521 "Decouple plugin library from octant internals"
Plugin authors should not have to import the entirety of octant to write plugins.

[2020-01-08 19:35] moderation commented on #430
I'd settle for just listing the network policies in a table with ability to dig into the next level. A bonus would be able to do the same for Calico policy with `networkpolicy.projectcalico.org` but I expect that will be a plugin.

[code]

[2020-01-09 01:04] GarySmith commented on #520
How will the editor be aware of the type of object that is being edited, including its fields/types/constraints/relationships? Will this metadata be contained in a json schema?

One important feature for this YAML editor is to be general enough to edit YAML that is stored on the file system, and not just YAML representations of objects obtained from the kubernetes api. There would need to be simil

[2020-01-09 01:06] bryanl commented on #520
You can fetch the OpenAPI schema from the Kubernetes cluster and validate it that way.

[2020-01-09 01:16] GarySmith commented on #520
That sounds great for those objects that are in Kubernetes. We also have a need to be able to edit cluster API yaml files in a bootstrapping scenario before Kubernetes is running. Can the OpenAPI schema for these files be provided in some other way than from Kubernetes?

[2020-01-09 02:28] mengdie-song commented on #432
@wwitzel3  That will be great, thanks!

[2020-01-09 10:58] bryanl opened #522 "Create editor component for Octant based on Monaco"

[2020-01-09 10:58] bryanl opened #523 "Create registry with ability to retrieve Open API schemas from a Kubernetes cluster"

[2020-01-09 10:59] bryanl opened #524 "Octant user should be able to add custom Open API schemas to a registry"

[2020-01-09 11:00] bryanl opened #525 "Replace YAML viewer with editor component"

[2020-01-09 11:00] bryanl opened #526 "Use Open API schema registry to validate editor component"

[2020-01-09 11:02] #405 closed

[2020-01-09 19:21] bryanl opened #527 "Config map value fields formatting"
Wrap config map value fields in a <pre> block so that cr/lf show properly.

[2020-01-09 19:32] GuessWhoSamFoo opened #528 "Migrate to GitHub Actions"
See if drone and circleci can be consolidated into a single pipeline.

[2020-01-10 18:28] mattouille commented on #518
Here's my use case/workflow. The disclaimer being that I don't know if there's SIG's or WG's trying to solve this kind of issue too (or standardize how this is solved?)

**Storing KubeConfig**
I have to access multiple clusters (hundreds) and thus I now have a directory called `$HOME/.kube/configs` (not to be confused with `$HOME/.kube/config`). In this directory is all the kube configs for variou

[2020-01-12 16:12] bryanl opened #529 "Pipe klog output to /dev/null"
Pipe klog output to /dev/null since octant can pick up
on the error conditions through other means, and also
because it is chatty.

[2020-01-13 17:20] GuessWhoSamFoo opened #532 "Port Forward Describer should not duplicate connections in list"
![image](https://user-images.githubusercontent.com/10288252/72276749-87c77480-35e5-11ea-83b2-55e4ccd1a7c4.png)

For a container with multiple containerPorts, the describer shows duplicate port forward connections

[2020-01-14 12:10] #529 closed

[2020-01-14 12:11] #510 closed

[2020-01-14 17:55] Amerzel opened #533 "Dashboard Failed: Client Resource Unauthorized"
I'm getting an error when trying to run Octant and I'm not quite sure where to go from here. Googling doesn't seem to find any solutions. Below is the verbose output when trying to run octant. This is my first time trying to use the tool so it's possible I'm not using it correctly or have misunderstood what it's for.

[code]

Thanks!

[2020-01-14 18:43] bryanl commented on #533
Hi,

This very vague error message means that Octant has determined that it doesn't have access to read CRDs. Is your current access limited in some way?

The way forward for this is to change Octant to handle this case. We'll have to recreate this condition to see exactly what it looks like. Update will be posted here.

[2020-01-14 19:06] bryanl opened #534 "Stop informers for the custom resource definitions"
When a CRD is removed from the cluster, the informer that backs the CRD does not stop the watch

https://github.com/kubernetes/kubernetes/issues/79610

It looks like this in the logs

[code]

Not sure how long it is going to take for an upstream fix, so we will need to figure out what to do while the upstream process works itself out.

[2020-01-14 21:02] Amerzel commented on #533
Hey Bryan, thanks for the response. I think there was some issue with the authorization and maybe I wasn't logged in correctly. After running a few kubectl commands I just retried using octant and it seemed to load this time. I'll close out this issue for now.

Thanks!

PS. Loved hearing your interview on the Scott Hanson podcast!

[2020-01-14 21:02] #533 closed

[2020-01-14 23:47] GuessWhoSamFoo commented on #64
Pending PR will not have alerter included because it will not address cases where a port forward connection is lost outside of an action handler.

[2020-01-15 17:32] jayunit100 opened #537 "32 character limit for side bar CRD size, large objects (long CRD names ) get cut off"
# Preamble

Thank you so much for this wonderful project :) it saved my life today when navigating a sea of CRDs.. Here's the first issue i found ... im sure more to come.  Happy to contribute a fix but time is limited for me as im commited to other things for my day job.

# what was expected

Assuming arbitrarily long CRDs would be viewable/copyable from the octant sidebar.

# what was observed

[2020-01-15 17:45] wwitzel3 commented on #537
Thanks for reporting this. Yeah, we would expect this to work as well. We will look in to it.

[2020-01-15 19:23] wwitzel3 opened #538 "drain / uncordon for nodes"
currently we just have delete for nodes, we should have proper action representations for nodes

- [x] cordon/uncordon
- [ ] ~drain~

[2020-01-15 19:48] wwitzel3 opened #539 "Move Metadata card to a tab."
The metadata card should be a tab.

[2020-01-15 20:12] wwitzel3 commented on #459
@jdolitsky So we definately don't want to provide the entire kubeconfig.

Would exposing a `Context()` method and an `ContextChanged()` callback be sufficient? The first would allow you fetch the current active context and the second would be a callback that Octant sent the current context to if the user changes it.

[2020-01-15 23:00] GarySmith opened #540 "grpc: server failed to encode response"
My plugin is generating the following error message in the console the first time that the user navigates to the plugin in the UI when the `Get` function in the dashboard client is executed:

`grpc: server failed to encode response:  rpc error: code = Internal desc = grpc: error while marshaling: proto: Marshal called with nil`

and after the first time navigating there, every invocation of the fu

[2020-01-15 23:24] wwitzel3 commented on #406
started drafting this, https://hackmd.io/752FdXlpRBmaUba6TtUdQQ?both

[2020-01-16 14:15] bryanl opened #541 "Handle cases when object has multiple owner references"
The resource viewer explicitly bails when an object has
more than one owner reference. I'm not sure why it
someone would do this, but we should handle the case
gracefully.

Example:

[code]

In this case, there are multiple owner references to the same object.
Most likely this is a bug in the controller, but it should still
not make Octant upset.

[2020-01-16 19:39] aschiefe commented on #503
Should volume be a navigation link as well along side persistent volume claims?

[2020-01-16 19:52] wwitzel3 commented on #503
Yes. I think it makes sense for volume as well.

[2020-01-16 19:56] aschiefe commented on #503
Ok, would you be so kind as to assign this to me? I don't believe I have the permissions to self assign.

[2020-01-17 02:12] GuessWhoSamFoo commented on #234
Closed via 1e37fc4a7b1f694c51a111f240a0402147b301d4

ConfigMap references for containers will be sorted by env vars rather than data key.

[2020-01-17 02:12] #234 closed

[2020-01-17 17:08] #495 closed

[2020-01-17 19:21] #501 closed

[2020-01-17 20:06] aschiefe opened #546 "Unable to build according to the documented guides"
Following the instructions in https://github.com/vmware-tanzu/octant/blob/master/HACKING.md yields an error from the go run build.go ci-quick command:
[code]
A quick look at the logs reveals this:
[code]
This is on ubunut 18.04 running node 10.15.3 and npm 6.4.1

I was able to work around this by following these steps suggested by @GarySmith :
cd web
npm install
npm run build
cd ..
go generate ./w

[2020-01-17 20:12] bryanl opened #547 "Create new paths for custom resource version paths"
CRDs with multiple versions have ambiguous paths. Create
a way to differentiate those paths.

[2020-01-18 00:21] bryanl opened #549 "Octant can't handle newly initialized metrics server"
If metrics server is installed while Octant is viewing workloads, it will error during the content generation proceeds until metrics are created for pods.

Error message looks like this:

[code]

[2020-01-18 00:24] bryanl opened #550 "Convert Octant to application (Project Denali)"
Currently, Octant is invoked from the command line. To extend the reach of the project, Octant will be converted to an application.

This Epic will track the process of this conversion

The goal is to develop the web and electron applications at the same time. Denali will be built up until its capabilities equal the existing web application.

[2020-01-19 22:52] bryanl opened #551 "Show resource viewer when workload name is clicked"

[2020-01-21 00:01] #539 closed

[2020-01-21 00:01] #534 closed

[2020-01-21 00:03] bryanl commented on #546
These directions need to be updated. The makefile doesn't exist any more.

[2020-01-21 19:21] aschiefe opened #554 "Improve the documentation to include architecture and organization information"
It would be a huge help to those who are new to the project to have enhanced documentation so that a new person, such as myself, could read through the documentation and understand the project layout and the general components without the need to reverse engineer the project.

Specifically it would be nice to see the following in no particular order:

- Why things are organized in the way they are

[2020-01-21 20:09] GarySmith commented on #540
Interestingly, if the Get is preceded by a List using the same parameters, then no error is generated at all.

[2020-01-22 00:36] #504 closed

[2020-01-22 00:40] GuessWhoSamFoo commented on #64
To be handled by octant's status view

[2020-01-22 13:56] wwitzel3 commented on #507
We are in the process of moving Octant to run using Electron. Once we have completed that work we will update our documentation around running Octant via a docker container. It will involve passing in the proper environment variable to set the DISPLAY so the proper X server is used.

[2020-01-22 13:58] wwitzel3 commented on #507
As mentioned in #450 Octant is a desktop application. To run it in docker, you would package Octant with a kubeconfig and ensure the correct DISPLAY was set. The DISPLAY would be an X server that allows remote connections.

[2020-01-22 14:05] wwitzel3 commented on #55
resolved by #544

[2020-01-22 14:05] #55 closed

[2020-01-22 14:15] connor0209 opened #556 "Handle Octant indefinitely spamming cluster api on bad request"
When a user's token to authenticate themselves against the cluster times out, a bad request response error is returned. Octant then goes on to spam the cluster with thousands of requests indefinitely, until closed. Implementing an exponential backoff would help to prevent cases like this to avoid DOS attacks.

[2020-01-22 16:56] GuessWhoSamFoo commented on #527
related to #433

[2020-01-22 18:01] jdolitsky commented on #459
@wwitzel3 this would be helpful in order to filter out releases by namespace, but it actually would not solve the issue. Helm vendors in client-go and calls NewForConfig:

https://github.com/helm/helm/blob/6cc039ea79a435c9f335d677b78d9be574b8e770/pkg/action/action.go#L144
https://github.com/kubernetes/client-go/blob/master/kubernetes/clientset.go#L370

[2020-01-22 18:38] GarySmith opened #557 "Cookie-like functionality for plugins"
Plugins may have a need to obtain and make use of information that is external to octant, for example, a database connection, or the location of a particular directory or some other configuration information. It is wasteful and potentially problematic for each plugin to separately derive this information, especially if the information takes a while to calculate or needs to change and be shared amo

[2020-01-22 19:31] wwitzel3 commented on #459
What would we need to add so that the plugin could successfully implement KubeClient interface by wrapping the plugin API?

One thing I see, is exposing the Kube and API versions and making the `getCapabilities` internal method overridable. Right now it is called internally by the uninstall action.

I think we could craft a KubeClient and a suitable Capabilities struct by extending the Plugin API

[2020-01-22 19:39] wwitzel3 commented on #410
@GuessWhoSamFoo has this in a branch and will be merged after we cut the 0.10 release.

[2020-01-22 19:41] wwitzel3 commented on #232
See #450 about the direction of Octant as an application.

[2020-01-22 19:41] #232 closed

[2020-01-22 19:45] wwitzel3 commented on #471
Not a lot of engagement here. Plugin authors are just creating new issues as needed and bringing up issues at the community meetings. That is working well.

[2020-01-22 19:45] #471 closed

[2020-01-22 19:46] wwitzel3 commented on #293
We have posting more information about the direction of Octant as an electron application in #450

[2020-01-22 19:46] #293 closed

[2020-01-22 19:49] #507 closed

[2020-01-22 21:17] GarySmith commented on #540
Another way to avoid the error is to use List and then just spin through the results to find the item of interest. Both Get and List are seeing similar behavior, which is that when the initial Get/List is made, the results are not finding any entries, which is really the heart of the problem. But when a List returns no entries it is not causing the grpc marshalling errors that Get exhibits

[2020-01-22 21:22] GarySmith commented on #472
If Octant gets its own settings file, it would be nice to let it be permissive and silently ignore entries that it is does not understand, so that plugins or other tools can add their configuration into the same file. This is akin to how git permits extra entries into .gitconfig which then permits the config file to be shared by other add-on git tools.

[2020-01-22 22:03] #135 closed

[2020-01-22 23:19] GuessWhoSamFoo commented on #549
To expand on this further, new pods added while the metrics server is installed will generate this error.

[2020-01-23 09:24] gadelkareem commented on #219
Any updates on this?

[2020-01-23 15:59] moderation opened #562 "Error : "unable to start CRD watcher""
Running a latest master build on a highly restricted cluster I get the following error:

[code]

Is this an error in the build itself or as a result of not being able to list CRDs from an RBAC perspective? Running on RHEL 7 Linux.

[2020-01-23 16:13] wwitzel3 commented on #562
I've opened #563 which will give better insight in to what the actual error is. We were not wrapping the error that was coming back and instead just printing an entirely new error message which removes all of the useful information about what is causing the error.

[2020-01-23 17:26] wwitzel3 commented on #525
replace the existing YAML viewer with the Monaco editor in read-only mode

[2020-01-23 19:38] moderation commented on #562
Thanks for the quick turnaround. Here is the updated error:
[code]
Keep in mind that the developer doesn't have the ability to `kubectl get crd`. Returns:
[code]

[2020-01-23 20:08] wwitzel3 commented on #562
Yeah, this looks like a regression maybe, or it was never working right in the first place, access errors are supposed to be logged and the starting of the watcher skipped.

[2020-01-23 22:53] bryanl opened #566 "In overview summary generate conditions table if conditions are detected"
In the overview summary, we have hardcoded conditions tables for certain GVKs. We can simplify this by automatically adding conditions if we detect `.status.conditions`. The win is that any object (including CRDs) that has conditions would automatically get this table.

[2020-01-24 01:09] wwitzel3 commented on #522
Current monaco-editor uses typescript 3.7
Angular 8 is <3.6

We would have to go back to a version of Monaco from almost a year ago to find one that uses typescript 3.5.

Angular 9 which is currently in RC phase, supports typescript 3.7.

[2020-01-24 01:18] GuessWhoSamFoo commented on #522
We should prioritize move to angular 9 once it is released. The ivy rendering engine offers a lot

[2020-01-24 01:33] wwitzel3 opened #567 "upgrade to Angular 9"
Angular 9 at the time of creating this issue was in RC 10 and very very close to release. We want to move to Angular 9 when it is released.

[2020-01-24 11:10] maehld opened #568 "crash when viewing workloads"
Hi. Octant 0.10 crashes when I click on Workloads. Everything else seems to function normally.

The error is:

`goroutine 585 [running]:
github.com/vmware-tanzu/octant/internal/api.notFoundRedirectPath(0xc000084bc0, 0x1b, 0x25, 0x0)
        /go/src/github.com/vmware-tanzu/octant/internal/api/stream.go:39 +0x170
github.com/vmware-tanzu/octant/internal/api.(*ContentManager).generateContent(0xc0001ce

[2020-01-24 15:03] wwitzel3 commented on #568
@maehld Thank you for reporting this. I'm going to get minikube on Windows and see if I can replicate this behavior.

[2020-01-24 15:47] wwitzel3 commented on #568
Found the issue, our `notFoundRedirectPath` helper makes some assumptions about the length of the request path. Which is causing `panic: runtime error: slice bounds out of range [:-1]`

[2020-01-24 15:53] wwitzel3 commented on #568
Taking that further, it looks like the Workloads path on windows is being escaped. `http://127.0.0.1:7777/#/workloads%5Cnamespace%5Cdefault` which is why the redirect is failing.

That said, I will apply two fixes here. I will ensure the path is rendering correctly, but I will also make sure that if the length of the path parts does not calculate to at least 1 in size, we just default to logging a

[2020-01-24 16:16] bryanl opened #569 "Pod conditions should show status"
Pod conditions are missing status column

[2020-01-24 16:55] bryanl opened #572 "bug: in certain situations, workloads viewer will crash with new pods"
[code]

The cause is that the metrics server has yet to generate metrics for the pod. This is not an error and Octant should be more patient

[2020-01-24 18:34] GuessWhoSamFoo opened #575 "Move pkg/icon into web"
Front end assets should live with the others and not create potentially confusing code generation logic

[2020-01-24 18:59] wwitzel3 commented on #562
@moderation are you able to build from my branch to see if it gets you past this error?

https://github.com/wwitzel3/octant/tree/issue-562

[2020-01-24 19:16] moderation commented on #556
+1 I was just about to create this exact issue but the handy Github feature showed me this existing issue.

We have a locked down cluster that has an additional layer of authentication that developers need to go through. The login to the cluster is time limited to a couple of hours and then logs out. When the logout occurs and Octant is running it DOS's the API server and returns the following err

[2020-01-24 19:40] wwitzel3 commented on #556
This is a duplicate of #207 closing this and will track the work on this issue there.

[2020-01-24 19:40] #556 closed

[2020-01-24 19:42] wwitzel3 commented on #424
Closing this as a duplicate of #207

Will use that issue to track the work around this.

[2020-01-24 19:42] #424 closed

[2020-01-24 19:50] #569 closed

[2020-01-24 20:29] moderation commented on #562
@wwitzel3 still fails to start. Details below:
[code]

[2020-01-24 20:33] wwitzel3 commented on #562
I changed the formatting of the error message in the PR and it appears that the output is still using the old error message format. Can you re-run the build command and provide the output of `octant version`

[2020-01-24 20:34] wwitzel3 commented on #562
I would expect the output to be

[code]

[2020-01-24 20:57] #568 closed

[2020-01-24 20:57] moderation commented on #562
[code]
[code]
[code]

[2020-01-24 21:02] wwitzel3 commented on #562
I see the issue, sometimes the `err` that the `AccessError` wraps can be nil. I pushed up a fix to the PR.

[2020-01-24 21:06] GuessWhoSamFoo opened #578 "Create e2e tests for workload viewer"
This will require setting up metrics server in CI.

[2020-01-24 22:46] bryanl commented on #207
I'm going to start thinking through the process of how to tackle this. Right now, there is no backoff on 403 responses. This is made harder because there is explicit no mechanism to reload the cluster configuration. The approach I want to take is this:

* Implement an exponential back process for 403s. This will solve the CPU issue.
* Reload the configuration when a configuration is updated? Liste

[2020-01-25 01:01] #572 closed

[2020-01-25 01:06] #547 closed

[2020-01-25 01:06] #551 closed

[2020-01-25 01:09] bryanl commented on #549
Fixed in #573

[2020-01-25 01:09] #549 closed

[2020-01-25 02:32] #562 closed

[2020-01-25 02:34] wwitzel3 opened #579 "provide a backoff for 403 errors"
When Octant encounters 403 errors is should backoff

[2020-01-25 03:05] wwitzel3 commented on #579
I did some investigating and I really like https://github.com/cenkalti/backoff

[2020-01-25 03:19] wwitzel3 commented on #207
All of the items in your outlined approach have existing issues that cover the work. I've turned this in to an Epic and associated them all.

[2020-01-25 05:24] vitjok27 opened #580 "Octant doesn't load plugins on Windows"
Hello
Need help.
I have %LocalAppData%\octant\plugins folder created on Windows 10 with plugin's binary inside but Octant doesn't load it on the dashboard. Nothing in logs about registering plugin either. Tried almost everything. Any thoughts what I may be missing? Thanks.

[2020-01-25 05:34] #406 closed

[2020-01-25 07:28] EronWright opened #581 "Provide a Cask for Homebrew to install Octant as a Mac application"
Would it be possible to install Octant such that it were available as a normal Mac application?   I believe that the cask feature of Homebrew makes that possible.    Thanks!

[2020-01-25 12:10] Stono opened #582 "Ability to restrict to a handful of namespaces"
Firstly; absolutely great tool - I am very impressed.

As for a feature request; i'd love to be able to deploy this to our cluster and at deploy time configure (maybe with a label selector) which namespaces octant will access.  We want to deploy it on our cluster because we have 250+ devs, so distributing tooling across the org like that is hard.

For context here, we have 330 services deployed in

[2020-01-25 12:39] bryanl commented on #579
Kubernetes has a solution built in: https://godoc.org/k8s.io/client-go/util/retry

[2020-01-25 12:43] bryanl commented on #581
Yes. This is possible and we tackle it in our ongoing work to make Octant a full application.

[2020-01-25 12:46] wwitzel3 commented on #579
Yeah, I did see that, but I just didn't like it as much. I don't care enough to lobby for it though, we can use the K8s one since it will mean no new dependencies

[2020-01-25 13:00] wwitzel3 commented on #582
Hi @Stono

Octant is a desktop application, despite its current packaging and using a web browser as the UI client. Having any type of startup filter/selector to limit namespaces would merely create a facade of access control. Octant will have the same access as the kubeconfig that is used to start it.

With that said, what you want to do is achieved very easily without having to install anything

[2020-01-25 13:29] Stono commented on #582
Yeah I figured that might be the answer, unfortunately distributing gcloud, kubectl, and octant across our organisation in a consistent manner and then further managing their kube credentials is currently a no go for us.

We’ve done extremely well by centralising our common tooling deployed onto the cluster and protected by RBAC both from a login and clusterrole perspective.

I appreciate however